[2013-11-05 22:19] mykola-hrebenyuk opened #1 "Narrow down the candidates by multiple keywords"
It would be very handy if fzf could perform keywords matching separated by a space " ".

For example, if we look for  match of candidates that meet both conditions "foo" and "bar":

foo bar

You can also specify negative conditions with an exclamation mark "!". This matches candidates that meet "foo" but do not meet "bar":

foo !bar

[2013-11-06 06:28] jebaum opened #2 "Have to select file twice in zsh"
When invoking fzf with zsh, the first time you select a file and hit enter the selection seems to be ignored, and you have to do it again, then it behaves as expected. Works perfectly in bash.

[2013-11-06 07:12] #2 closed, assigned to nobody

[2013-11-09 17:47] junegunn opened #3 "+multi-select"

[2013-11-09 18:59] #3 closed, assigned to junegunn

[2013-11-16 16:52] #1 closed, assigned to nobody

[2013-11-20 10:14] thomasf opened #7 "Add ctrl-g as abort key,"
For stronger compatibility with my emacs hands :)

Great work btw!

[2013-11-20 12:23] #7 closed, assigned to nobody

[2013-12-04 20:39] PythonNut opened #8 "Define faces for virtual console"
In the virtual console, the match is invisible (black FG, black BG). As the match gets larger, it becomes impossible to determine which file is which.

[2013-12-05 03:23] #8 closed, assigned to nobody

[2013-12-08 18:23] justinmk opened #9 "extended mode: ^foo$ does not match directory "foo", but foo$ and ^foo does"
Not sure if this is by design (I know extended-mode isn't supposed to be a full regex matcher), but thought I'd report it.

If `foo` is a directory in the current directory, try `fzf -x` with the following inputs:
- `^foo` returns all results starting with `foo`, including the `foo` directory
- `foo$` returns nothing
- `foo/$` returns nothing
- `^foo$` returns nothing

Try `find ${1:-*} 2> /dev/nu

[2013-12-15 03:53] #9 closed, assigned to nobody

[2013-12-18 20:42] fisadev opened #10 "Priorization of best matches"
The algorithm sorting the matches should give priority to better matches.

Example: In a repo of mine, searching for "login" finds a lot of things, selecting

[code]

instead of

[code]

which is obviously a better match.

[2013-12-20 04:27] beloglazov opened #11 "CTRL-Q to quit the finder"
Hi and thanks for the awesome tool!

Would it be possible to add a CTRL-Q key binding for quitting the finder?

Best regards,
Anton

[2013-12-20 04:39] beloglazov opened #12 "An option for smarter case sensitivity"
It would great to have an option similar to `smartcase` in vim: automatically turn on case sensitivity if the pattern contains upper case characters, otherwise keep it case-insensitive. Thanks again! :)

[2013-12-20 05:06] #11 closed, assigned to nobody

[2013-12-20 06:32] #12 closed, assigned to junegunn

[2013-12-20 17:06] #10 closed, assigned to nobody

[2013-12-22 10:47] thomasf opened #13 "fzf bash host completion destroys bash ssh config completion"
The entries of ~/.ssh/config are not accessible.

[2013-12-23 14:18] #13 closed, assigned to nobody

[2013-12-25 15:35] junegunn opened #14 "Curses being removed from standard library in Ruby 2.1.0"
https://bugs.ruby-lang.org/issues/8584

:astonished:

[2013-12-25 16:07] #14 closed, assigned to nobody

[2014-01-22 10:24] roboslone opened #15 "Print found items as plain text after calling 'fzf -q <query>'"
It would be **extremely useful**, if fzf could return plain text after running a query. I think one could use this in third-party apps to provide fuzzy search inside them.

[2014-01-22 10:36] roboslone opened #16 "Enable arrow keys"
There're escape sequences for arrow keys:
up - "\027[A"
down - "\027[B"
left - "\027[D"
right - "\027[C"

Why don't use them to navigate in result list? I, personally, find it much better then ^K / ^J - one less key to press.

[2014-02-05 13:41] #15 closed, assigned to nobody

[2014-02-19 16:57] athaeryn opened #18 "Weird graphical issues in tmux"
I'm getting some weird graphical issues when using fzf in a tmux session. I don't have any problems when using it outside of tmux. I'm on OS X using zsh in iTerm2.

![fzf](https://f.cloud.github.com/assets/1226972/2209067/dab00b0a-9986-11e3-8bd7-c74dde512543.gif)

[2014-02-27 12:25] chochkov opened #21 "Use tab to select a command"
It'd be a good idea to be able to use `TAB` to hit a command (instead of just `ENTER` as it is now). That's for example on the command line history search.

[2014-02-27 17:12] #21 closed, assigned to nobody

[2014-03-04 01:34] junegunn opened #22 "Add keybindings for vi-mode shell"
Currently, CTRL-T and CTRL-R won't work when vi-mode is enabled.
### vi-mode

[code]
### CTRL-T

[code]
### CTRL-R

[code]

[2014-03-04 09:54] #22 closed, assigned to nobody

[2014-03-04 10:17] muellerj opened #23 "Support for .fzfignore files?"
First of all: I love it. Much faster than CtrlP etc. when run from my home directory.

I'm wondering, how other people narrow down their search. I currently use stuff like

[code]

and

[code]

to exclude files and dirs, which i will never want to access (`.git` directories come to mind immedately).

Would it be possible to add support for some kind of `.fzfignore` files, which could be used to ex

[2014-03-04 10:51] muellerj opened #24 "Literal option for extended mode"
The behaviour in Sublime-Text, CtrlP etc. fuzzy-finders defaults to treating space-seperated chunks as exact-search patterns. If I have a directory structure like so for example

[code]

I would like to be able to enter `pro asd make` in order to get to the 2 files. In extended mode however, I need to quote the chunks individually:

![search_with_apostrophes](https://f.cloud.github.com/assets/5324

[2014-03-04 12:33] #23 closed, assigned to nobody

[2014-03-04 12:36] #24 closed, assigned to junegunn

[2014-03-19 11:41] wellle opened #27 "Add flag to select single result immediately"
When providing a `--query=foo` parameter it could be useful to select the only match immediately when there is only one. When there are multiple matches the selection happens as usual.

Could look like this:

[code]

This is related to #26.

[2014-03-19 13:30] #27 closed, assigned to nobody

[2014-03-29 08:57] ilAYAli opened #31 "utilize git for finding relevant files"
traversing e.g large git repositories with find is suboptimal, so it would be nice if fzf had to option to automatically use the fastest method available.
Something like this seems to work ~ an order of magnitude faster for me:

[code]

[2014-03-31 01:10] junegunn opened #33 "fish shell support - installer / keybindings"
Regardless of on whatever shell it may be, fzf is installable simply by placing fzf in a directory included in `$PATH`. However, the install script generates an optimal function wrapper for fzf and defines some useful key bindings. It would be nice if it supports fish as well.

[2014-03-31 23:21] legendre6891 opened #34 "Tmux does not split pane with control-T"
When I press control-T in tmux, the pane does not split and fzf does not run successfully. Pressing control-T for the first time has the equivalent result of pressing return at a blank zsh prompt (i.e. nothing happens, except a clean prompt); afterwards, pressing control-T has no visible effect.

If I set FZF_TMUX = 0 (to disable to pane split), then fzf works as intended.

I am using tmux 1.9a (t

[2014-04-01 12:42] #34 closed, assigned to nobody

[2014-04-01 17:17] stephentalley opened #36 "Add flag to select single result immediately (revisit issue #27)"
Issue 27 (https://github.com/junegunn/fzf/issues/27) requested a --select-single
 option to fzf to automatically select a match if there is only one.

While a workaround was provided, I think this is a common enough use case with a complex enough workaround to merit addition of the actual option.

I am using the fq1() workaround heavily, both in the shell but also in vimscript.  Having to duplicat

[2014-04-03 11:31] wellle opened #38 "Separate multiple patterns by space"
In a [recent discussion about Zed](https://news.ycombinator.com/item?id=7515147) the [topic of fuzzy matching came up](https://news.ycombinator.com/item?id=7515979) and I liked the idea of using multiple patterns separated by space.

I imagine it like this: I have entered the search term `foobar` and it's currently matching hundreds of lines beginning with `foo` and ending with `bar`. To match the

[2014-04-03 13:41] #38 closed, assigned to nobody

[2014-04-05 03:57] #36 closed, assigned to junegunn

[2014-04-05 03:58] #18 closed, assigned to nobody

[2014-05-02 02:30] #33 closed, assigned to junegunn

[2014-05-02 03:59] #31 closed, assigned to nobody

[2014-05-03 19:36] stephenh opened #39 "Doc that vi-mode requires "set -o vi""
In my .inputrc, I use "set editing-mode vi". Because this puts readline into vi-mode everywhere, I don't have a "set -o vi" in my .bashrc file, which AFAIK is for making "only bash" (and not other readline-using programs) use vi bindings.

Without "set -o vi", when .bashrc sourced .fzf.bash, the set -o | grep vi check returned empty, looking like vi mode was not setup, and so the non-vi key bindin

[2014-05-03 19:41] stephenh opened #40 ".fzf.bash/__fsel doesn't use FZF_DEFAULT_COMMAND if set"
It's hard-coded to use find, which surprised me because I'd set FZF_DEFAULT_COMMAND=ag -l -p "" and couldn't figure out why "cat <Ctrl-T>" was still including my .gitignore'd files. I assume this is not intentional?

[2014-05-03 19:46] stephenh opened #41 "Long file paths causing wrapping artifacts"
If I type "cat <Ctrl-T>" and select a really long file name, and it wraps to the second line, then the \C-x\C-r is not sufficient to redraw the line, there is still some artifacts. It looks vaguely like:

$ ls the/really/long/
file.txt really/long

There "really/long" is repeated again after "file.txt", even though the cursor is in the right spot (at the end of the line, after "file.txt ").

I not

[2014-05-04 02:29] #41 closed, assigned to nobody

[2014-05-08 13:47] chutsu opened #42 "Curses window not cleared properly when using fzf for kill command"
When I use `fzf` to find processes to `kill`, as I type there are residual processes not cleared by Curses. To remedy that I have added:

[code]

in function `update_list` at the start of the `render do` loop.

Great app btw, loving it :)

[2014-05-08 14:14] #42 closed, assigned to nobody

[2014-05-16 02:07] jkoz opened #43 "FZF+ I3 + DMENU"
Hello,

I really really love your tool except one thing it is written in ruby ;-), however, I'm fine with this. I'm working to integrate your engine to work with dmenu & i3 wm window switcher.

In i3 WM, I hit alt-d it show list of window for choose to focus which powered by dmenu (see https://github.com/ziberna/i3-py/blob/master/examples/winmenu.py) I want to do similar things with fzf.

One thin

[2014-05-26 06:30] #16 closed, assigned to nobody

[2014-05-29 01:40] elado opened #48 "Command fuzzy search returns items with their serial number"
![screen shot 2014-05-28 at 6 38 10 pm](https://cloud.githubusercontent.com/assets/51488/3113196/044efb0e-e6d2-11e3-823b-97e800036acb.png)

When I hit return, it shows

![screen shot 2014-05-28 at 6 39 16 pm](https://cloud.githubusercontent.com/assets/51488/3113198/1b5f8552-e6d2-11e3-9079-12fb60b15afc.png)

with the number, which shouldn't be there.

[2014-05-29 02:23] #48 closed, assigned to nobody

[2014-05-29 23:31] elado opened #49 "Remove duplicates?"
Command history contains plenty of duplicates usually, and these are just noise. Would be nice to have them removed from the list.

[2014-06-02 10:51] roboslone opened #50 "ZSH share_history doesn't work with fzf"
How to reproduce:
1. Enable this options in ~/.zshrc: extended_history, inc_append_history, share_history
2. Restart shell
3. Open two tabs (shells)
4. Type 'echo 123' in first shell
5. Press Ctrl+R in second shell: 'echo 123' **is not** in history
6. Type 'history' in second shell: 'echo 123' **is** in history
7. Repeat 5th step: _magically_ 'echo 123' is in history this time

I expect fzf to sho

[2014-06-04 07:31] #50 closed, assigned to nobody

[2014-06-06 10:03] harelba opened #51 "ctrl-r fails on encoding related problem"
Playing around with command lines which have non ascii characters. At some point Ctrl-r started throwing the following.

I would have sent you my history output, but there's too much sensitive data there...

Here's part of the command line which is related to the issue. However, I was playing with it for several hours before it started to cause issues, so I'm not sure that this is the origin of th

[2014-06-10 22:58] Shougo opened #52 "[Question] Can you tell me the test files?"
https://raw.githubusercontent.com/junegunn/i/master/fzf-commandt-ctrlp-unite.gif

I read the page and found unite.vim cache performance was too bad.
But I have improved file_rec/async performance in unite.vim.

I want to re-test for the files.

[2014-06-12 09:28] dimonomid opened #53 "[Question] how to invoke fzf from GUI (say, using xterm) and get selected filename?"
Hello,

I'm trying to use fzf in the GUI 2-panel file manager (double commander), it would be extermely useful.

First question: how to open xterm (or probably other terminal emulator?) with fzf opened?

I tried:  `xterm -e /usr/bin/ruby /path/to/fzf` , but xterm window is opened and immediately closed, I can't read anything even if it writes something. Just in case, I tried `xterm -e aptitude` ,

[2014-06-12 10:41] wellle opened #54 "Added `fs` to example Wiki (fuzzy select tmux session)"
I decided to write a small function to select tmux sessions by fuzzy name. I added the result to the Wiki: https://github.com/junegunn/fzf/wiki/examples#tmux

If you think it is useful enough to be included in the Readme, just let me know. I would create a pull request.

Also let me know if you disagree with the implementation of `fs`.

Feel free to just close this issue no further action is requi

[2014-06-12 14:12] #54 closed, assigned to nobody

[2014-06-13 09:28] #53 closed, assigned to nobody

[2014-06-15 03:34] #52 closed, assigned to nobody

[2014-06-18 07:09] Ephemera opened #58 "Different Ruby with installation and with execution"
I use rbenv and installed 2.1.0 without curses gem.
When I installed fzf, it detected system ruby and installed well but it's not work because shebang of fzf file(`#!/usr/bin/env ruby`) point to rbenv's ruby, so it couldn't load curses gem.

[2014-06-18 08:16] #58 closed, assigned to nobody

[2014-06-19 00:14] brandonpittman opened #59 "Toggling fzf"
Thanks for building fzf! Everything's working fine, but I'm wondering what might be a good way to toggle fzf open and closed using just <Ctrl-R>. Is there a hook for fzf to see if it's currently open where I could then just hit <Ctrl-R> again to close it instead of reaching up for <Esc>?

[2014-06-19 01:01] junegunn opened #60 "Fix fish shell support on Ubuntu"
[code]

http://www.reddit.com/r/vim/comments/28eh6k/fzf_vim_tmux/ciavblg

[2014-06-19 18:42] glittershark opened #61 "Allow C-V, C-S, C-T, etc. in vim plugin"
The only thing really stopping me from replacing ctrlp entirely with fzf is support for `<C-V>` to vsplit, `<C-S>` to hsplit, `<C-T>` to open in a new tab, etc.

[2014-06-20 06:12] jceb opened #62 "Fuzzy find for directories"
It would be awesome if fzf would be able to fuzzy find directories as well by providing an additional option on the command line.  I'd use it to quickly navigate to a subdirectory.

[2014-06-20 06:16] #62 closed, assigned to nobody

[2014-06-20 22:09] terryma opened #64 "Hangs on linux inside tmux"
It looks like I'm hit with this bug: https://bugzilla.redhat.com/show_bug.cgi?id=526366

This only happens inside tmux for some reason. After running fzf a few times, it would hang the next time I start it up. strace shows that it's gpm related. I have to manually restart gpm to make it work. This effectively prevents me from using it at work, which is a shame because I love this tool so much. :(

[2014-06-22 20:29] gleachkr opened #65 "MacVim and iTerm2"
Howdy,

This is a really neat project. I thought it might be helpful to add some information about how to get it running with MacVim and iTerm2, for users as inept as myself. The following script is, so far, a passible stand-in for "xterm -e". You just need to add it to your Vim's PATH as an executable titled, for example, "In_a_new_term_function" and let g:fzf_launcher = "In_a_new_term_function %

[2014-06-23 14:34] #65 closed, assigned to nobody

[2014-06-24 05:24] #59 closed, assigned to nobody

[2014-06-25 07:31] jdevera opened #68 "Can't scroll results"
If the search provides more results than fit in one screen, I am unable to scroll outside of the ones that are currently showing.

[2014-06-27 04:32] #68 closed, assigned to junegunn

[2014-06-28 22:26] d630 opened #70 "Using fzf as a kind of "selection menu""
I would like to use `fzf` as a kind of "selection menu", in that way `dmenu` may be used. Therefore, it would be nice, if `fzf` had:
- a modifiable prompt
-  an option to print the query respectively the literal string to stdout, when `fzf` has not matched anything

[2014-07-01 09:08] lithammer opened #72 ".fzf.bash breaks git/bash completions"
Whichever of these two that gets sourced _first_ stops working. If `.fzf.bash` is first, the `vim ~/**<TAB>` stuff will stop working, and if the other way around `git <TAB>` will stop working.

**.bash_profile**

[code]

[2014-07-02 12:20] rojaro opened #73 "Show recorded times on righthand side"
When using i.e. HISTTIMEFORMAT the timestamps are recorded for every command. It would be really nice if there was an option to display them on the right hand side.

[2014-07-03 10:37] rizo opened #74 "Open completion list directly in Vim"
Is it possible to open the completion list directly in (G|Mac)Vim window like in CtrlP?

[2014-07-03 13:00] #74 closed, assigned to nobody

[2014-07-04 06:36] #49 closed, assigned to nobody

[2014-07-04 07:46] #70 closed, assigned to junegunn

[2014-07-04 12:04] #73 closed, assigned to nobody

[2014-07-07 08:11] jdevera opened #76 "Some utf-8 input not shown correctly"
I have a script that gives me a list of issues to work on, and I wanted to use fzf to choose one. The script uses unicode arrows to denote priority, and these are not shown correctly in fzf.

Input:

[code]

What fzf renders:

[code]

[2014-07-07 10:56] #76 closed, assigned to nobody

[2014-07-10 02:11] wilywampa opened #77 "Wrong characters displayed under tmux"
I tried fzf today on a PC running mintty/Cygwin and on my laptop running iTerm2/OS X and had the same problem both places. The results that come up as I'm typing are corrupted until I scroll through them or type Ctrl-L. This happens in tmux if I run fzf using the Ctrl-R key binding or if I run fzf just as 'fzf' from the command line. It does NOT happen when I invoke it with the Ctrl-T key binding

[2014-07-10 02:35] #77 closed, assigned to nobody

[2014-07-13 17:26] #60 closed, assigned to nobody

[2014-07-14 12:58] #72 closed, assigned to junegunn

[2014-07-14 12:58] #61 closed, assigned to nobody

[2014-07-14 13:05] #51 closed, assigned to nobody

[2014-07-16 14:06] sshtmc opened #78 "Count-in selection frequency when offering closest matches"
Hi,

Thanks for this great tool, it's one of the few I use frequently for some time now.
What would be very cool for me is to give more weight/importance to the most-selected history entries.
It should not be too difficult to do it, but it probably would be much faster for you to do it, than for me, since you already know the code.
The good thing is that you don't have to make this weight (the cou

[2014-07-17 10:04] kuremu opened #79 "Completions not perfect?"
If I install fzf with completions I get access to the double-asterisk completion but no 'regular' completion.

For example, `ssh **<tab>` gives me the fzf output, but `ssh <tab>` only gives me a regular ls of the working directory. Should I instead be seeing fzf springing into action?

At the moment I'm using fzf without completion because it's quicker for me just to use regular completion, but it

[2014-07-18 03:15] #79 closed, assigned to nobody

[2014-07-20 18:59] nishantvarma opened #81 "How To Grep Using FZF / Vim"
Is it possible to open a grep result directly in Vim ? I know of using it directly like: ag foo | fzf

Is it possible to 'sink' it to Vim - do we have an option already for that ?  :FZF something ?

Below discussion here greps a file but its for a buffer and it scans each line , what I am looking for is a grep tool . My idea is to execute ag/ack {string}  | fzf and open in the Vim recognizing the

[2014-07-21 12:22] #81 closed, assigned to nobody

[2014-07-24 15:34] d630 opened #82 "[suggestion] [.fzf.bash] Modify __fsel() and __fcd()"
`~/.fzf/install` creates amongst others:

[code]

To speed up `__fsel()` we should use Process Substitution and avoid a needless subshell like that:

[code]

When we do not need declarations in `__fcd()`, we could simplify it with:

[code]

[2014-07-24 18:32] #82 closed, assigned to nobody

[2014-07-25 04:11] junegunn opened #83 "Implement test cases for shell extension"
- Key bindings
    - [x] bash
    - [x] zsh
    - [x] fish
- Auto completion
    - [x] bash - file
    - [x] bash - dir
    - [x] bash - process
    - bash - host (TBD)

Is there any tool that can be used to test *interactive* shell scripts?

Assuming there isn't one already:
- Using tmux seems like a nice idea
    - Send keystrokes to the split pane
    - Monitor the content of the split pane and

[2014-08-02 07:04] lazywei opened #84 "Integrating with z crashes"
I tried to follow https://github.com/junegunn/fzf/wiki/examples#z to integrate with z.

But after I add

[code]

to `.zshrc`

iTerm2 crashes as soon as I launch it.

![image](https://cloud.githubusercontent.com/assets/2840571/3787365/41faed86-1a13-11e4-80f9-949d6dc5dd8a.png)

[2014-08-02 08:42] #84 closed, assigned to nobody

[2014-08-02 08:44] lazywei opened #85 "fzf-contrib"
As @junegunn suggests in #84, let discuss more detail about how to organize useful snippets for users.
A `fzf-contrib` would be great. Any other thought?

[2014-08-04 16:33] leonardt opened #86 "Support antigen"
[antigen](https://github.com/zsh-users/antigen) is a plugin manager for zsh that facilitates keeping external plugins up to date easily (similar to vundle).  Would be great to have this installable/updatable via antigen so it could be maintained up to date painlessly!

[2014-08-04 16:34] #86 closed, assigned to nobody

[2014-08-06 17:39] shmup opened #87 "vim plugin and the FZF_DEFAULT_COMMAND"
Do you have any recommendations for making this work for the vim plugin? fzf respects my .gitignore, except when using fzf within vim. Maybe I'm doing a thing wrong, though?

[code]

[2014-08-07 18:25] #87 closed, assigned to nobody

[2014-08-10 19:40] bnovc opened #88 "ctrl+r history results should be unique by command"
I normally have used ctrl+r and hit it a few times to get the right command pre-fzf, which worked fine, and now with fzf, I can use my arrow keys to scroll the results, but I have _many_ more to scroll than before. I don't see any value in presenting numerous duplicate results here, and zsh's default ctrl+r behavior doesn't do this.

[2014-08-11 12:30] jmlucjav opened #89 "dos2unix install was needed to install properly on cygwin"
Hi,

just installed this today, and not sure if it is a general issue or not, but FYI I had to use dos2unix or install would fail:

[code]

[2014-08-14 02:57] #88 closed, assigned to nobody

[2014-08-14 05:40] ericboehs opened #90 "Reverse search (`-n` option) slow"
When reverse searching in zsh (and probably bash) with a large history (40k+), fzf is quite sluggish. I narrowed this slowness down to the `-n` option. I started to go through the code to see if I could fix it but I gave up after I couldn't get a pry debugger session going.

Anyways, I don't care to address commands by number (as typing a 5 digit number isn't very efficient) so I made fzf's revers

[2014-08-16 09:05] sxe opened #91 "invalid byte sequence in UTF-8 (ArgumentError)"
When using the ctrg+r shortcut i get this error after a while:
The fzf file list shows up correctly and the error happens imideately when i start typing (no matter what char).

/usr/bin/fzf:1108:in `index': invalid byte sequence in UTF-8 (ArgumentError))
        from /usr/bin/fzf:1108:in`tokenize'
        from /usr/bin/fzf:1127:in `do_match'
        from /usr/bin/fzf:1188:in`block in match'

[2014-08-16 11:24] #91 closed, assigned to nobody

[2014-08-17 17:58] #89 closed, assigned to nobody

[2014-08-28 14:34] bsingr opened #93 "Sort / ranking of results not as expected"
Given the following file tree:

[code]

When I search for `myfolder`, then I would expect to get `~/my_folder/foo` as the primary result.

However, fzf shows me the (more complicate) match `~/Development/daemon/node_modules/forever-monitor/node_modules/broadway/node_modules/nconf/node_modules/optimist/node_modules/wordwrap/example/center.js`.

Is this desired behaviour, and if so, can someone expl

[2014-08-29 13:19] #93 closed, assigned to nobody

[2014-08-30 12:32] Neki opened #94 "Bash autocompletion treats a symlink to a directory as a regular file"
Hi,

I installed fzf using the provided install script (I run bash inside a tmux session on Ubuntu if that matters). The autocompletion does not display symbolic links when asking for completion to the `cd` command.

[code]

As an aside, an option to resolve symbolic links would be a nice feature.

Thanks for this great tool!

[2014-08-30 13:33] #94 closed, assigned to nobody

[2014-09-13 00:10] #64 closed, assigned to nobody

[2014-09-14 11:52] Tranquility opened #96 "Open in vimsplits"
Is there any way to open a file in a split? I am using that feature a lot. It currently prevents me from switching to fzf inside of vim.

[2014-10-11 15:29] andreicristianpetcu opened #98 "If no candidates are found, run te command"
fzf is mostly used for searching in the history of commands. If I am searching for a command but it is not in the history, no results will be found. I need to close fuzzy finder and then type again the command.

A very nice enhancement would be to run the command typed if the history did not match anything. Do you think such a feature would be useful? Is it hard to implement?

Thank you for develo

[2014-10-13 21:44] mgruesbeck opened #99 "FZF in vim to open in new tab"
Hey all,

I'm just wondering if anyone out there knows how to setup or has a specific configurations. I'd like to use FZF in vim with options to open a file in a new tab.

I currently do this by opening a new tab with vim -- "tabedit" and then running "FZF". I feel like these should be combined somehow.

Thanks for any help.

[2014-10-14 19:05] #99 closed, assigned to nobody

[2014-10-16 13:34] matthiasbeyer opened #100 "fzf kills git completition"
When using fzf, I do not have git completition from `source /usr/local/bin/git-completion.bash` (I'm on bash).

A kind-of workaround is to put the `source ...git-completition.bash` line _below_ the fzf line in the bashrc, but somehow I do not have completition for branch names then, only for commands, so

`git checko<tab>` compeletes to `git checkout` but `git checkout d<tab>` does not complete to

[2014-10-16 15:52] #100 closed, assigned to nobody

[2014-10-20 15:00] blueyed opened #101 "Do not map <C-j> (Return/Enter)"
I have recently started the habit of using `<C-j>` instead of Enter. It would be nice if it worked in fzf, too.

Can this be configured?

[2014-10-20 15:07] #101 closed, assigned to nobody

[2014-10-24 09:09] jdevera opened #102 "Feature Request: Option to hide some fields"
## The request

I would like to somehow be able to dissociate what is shown to what is returned. For example, the output of `git --no-pager log --format=oneline --abbrev-commit -n 5` in this repository

[code]

I'd like to be able to show only the commit messages, without the sha, but at the same time, when I choose one, I want the sha to be in the output. So fzf would show me this:

[code]

And w

[2014-10-27 16:48] thedrow opened #103 "Install using bpkg"
[bpkg](https://github.com/bpkg/bpkg) is a package manager for bash.
It can be really useful if fzf would be installed using it instead of git,

[2014-11-04 14:31] #102 closed, assigned to nobody

[2014-11-21 12:06] Wolfy87 opened #105 "Getting errors when ~/.fzf.bash is sourced"
Things like `ag bundle` throw this error:

    sh: line 1: `BASH_FUNC_fzf%%': not a valid identifier

But `ag foo` does not. I also cannot open man pages, but I can run the base command and get the "What manual page do you want?" message. This also breaks Vim integration.

I can run fzf on the command line and use C-t, but the Vim plugin flashes up and vanishes with zero results. All vim-plug upda

[2014-12-02 23:57] beaugunderson opened #107 "Autocompletion breaks git completion on Ubuntu with bash-completion installed"
The git completion provided by `bash-completion` on is broken when fzf's completion is used (regardless of order, since the bash-completion completions are loaded dynamically).

I solved it by removing 'git' from `a_cmds`.

It also strikes me that maybe manually loading bash-completions git completion after fzf is run would solve this issue.

[2014-12-04 16:20] #107 closed, assigned to nobody

[2014-12-05 22:10] sivaswami opened #108 "Current folder not searched. Only subfolders are searched"
Current folder not searched. Only subfolders are searched

[2014-12-21 16:30] ironfish opened #110 "Does FZF support neovim?"
Works fine inside bash, but hangs inside neovim.

[2014-12-21 21:36] #110 closed, assigned to nobody

[2014-12-22 06:09] majutsushi opened #111 "Switch between search mode on the fly"
Both the normal fuzzy mode and the two extended modes are very useful for certain cases. However, it is not always clear which mode is the most fitting one for the current search. It would therefore be great if it were possible to switch between the different modes on the fly with a keybinding, and a visual indicator of which mode is currently active. Thanks!

[2014-12-23 10:37] balta2ar opened #112 "Improve readline compatibility"
1. `<ALT-F>` behaviour is inconsistent with one in bash and zsh (readline?). The cursor should go to the first letter of the next word. In fzf implementation it is stopped at the word separator. `<ALT-B>` behaviour is correct.
2. Word separator problem. Say, if you have `aaa-bbb=ccc_ddd<CURSOR>`, you need to press `<ALT-BS>` four times (bash, zsh) to delete the whole line while fzf implementation

[2014-12-24 04:30] #112 closed, assigned to nobody

[2015-01-04 23:58] maxime-michel commented on #70
I'm also using fzf as a launcher (Alfred on OS X is my inspiration) and I'm getting spectacular results, thanks for the script! Like @D630 I would be interested in getting the query but only if there are no matches. I don't mind using the three lines you wrote but I'm not sure how to use them in my case? This is the beginning of the script I mapped to Win+Space.

	#!/bin/bash
	find * -path '*/\\.*

[2015-01-15 04:07] #98 closed

[2015-01-15 04:08] #103 closed

[2015-01-15 04:09] #108 closed

[2015-01-15 04:13] junegunn commented on #90
Closing as fzf has become significantly faster now.

[2015-01-15 04:13] #90 closed

[2015-01-15 04:14] junegunn commented on #78
Please note that the new go version sorts the result regardless of the number of matches. `--sort=N` number is silently ignored.

[2015-01-15 04:14] #78 closed

[2015-01-18 02:41] gotbletu opened #118 "Tab/Space issues?"
not sure how to describe this but seems like fzf has issues to tabs/spaces inside text files or it does something to change the output?

how do you fix that? I try on other programs like "percol" and it came out fine as you can see from the picture.

See the **green line**
http://i.imgur.com/U1Y9BGO.jpg

    #fzf with surfraw
    surfraw -browser=$BROWSER "$(cat ~/.config/surfraw/bookmarks | sed '

[2015-01-18 03:39] junegunn commented on #118
fzf does not do any processing on tab characters, and ncurses sets a tab stop every 8 columns by default. I once considered making it configurable, but discarded the idea because of compatibility issues (It didn't run on old linux distros; https://github.com/junegunn/fzf/commit/3ed86445)

[code]

I've just downloaded peco and it looks like it enforces 4-character tab stops.

[code]

Because of the

[2015-01-18 03:44] junegunn commented on #118
Is the program in the first image Vim? On Vim, you can change tab stops using `:set ts=8`, try some different values and you'll get a better idea of what's going on.

[2015-01-18 03:52] junegunn commented on #118
peco manually sets tab stops by 4 columns:
https://github.com/peco/peco/blob/74e0e70/layout.go#L69-L75

For future reference (for me), conditional compilation based on the version of ncurses:
https://gitorious.org/tig/mainline/commit/3ff7fff834173c6d01f04feef6403c6b0a724ebf

[2015-01-18 04:17] gotbletu commented on #118
I tried different tabstop numbers in vim, doesnt seem to do anything to fix it. Still output not aligned like the original text file.

have not used peco, but i was using percol
https://github.com/mooz/percol

[2015-01-18 04:21] junegunn commented on #118
Ah sorry my bad, peco is a Go-implementation of percol. Percol also seems to 8-col tab size like fzf

[code]

Could you post the text file on gist or somewhere?

[2015-01-18 04:31] gotbletu commented on #118
text for my bookmarks

http://slexy.org/raw/s20mjCmaRz

[2015-01-18 04:55] junegunn commented on #118
Thanks, now I see the reason. It's because of 2-column indentation of fzf interferes with tab stops (note that percol does not have left-side indentation).

The default fzf with 2-space indentation:

![with-indent](https://cloud.githubusercontent.com/assets/700826/5791403/89fdea96-9f17-11e4-85a1-e4ebd8665f93.png)

Modified version of fzf w/o indentation:

![wo-indent](https://cloud.githubuserconte

[2015-01-18 05:08] gotbletu commented on #118
seems like the "Modified version of fzf w/o indentation" looks best. Yea maybe just add extra flag to fix it; lols fzf -notabdeath -e

[2015-01-18 05:15] junegunn commented on #118
The left gutter is important when using `--multi` option where you can select multiple items. If I'd want to remove the gutter, I have to come up with a way to indicate whether an item is selected or not. I'll think about it.

[2015-01-18 05:22] chenglou opened #119 "Is there a reason not to use --multi ever?"
Gosh I love this plugin! Thanks a lot =)

This is not that bothersome since I can just alias `fzf` to `fzf -m`, but I was wondering if there's any reason to expose the non-multi version as an option in the first place. Just a nit.

[2015-01-18 05:25] junegunn commented on #119
Thanks. A good example is when selecting a previous command from the command history (e.g. `CTRL-R` set up by the installer). If you really prefer the option, I recommend that you include it in `$FZF_DEFAULT_OPTS` variable instead of aliasing the command.

[code]

[2015-01-18 05:37] chenglou commented on #119
Makes sense.

[2015-01-18 05:37] #119 closed

[2015-01-18 08:05] junegunn commented on #118
Instead of adding a new option or finding a way to customize ncurses, I decided to manually process tab characters. Here's what it looks like:

![0 9 2-dev](https://cloud.githubusercontent.com/assets/700826/5791791/f07f86fa-9f33-11e4-9f29-f078ebde65b3.png)

I'll be releasing 0.9.2 in a week or two, until then, you can download 0.9.2-dev binary with the change from the following link:
https://githu

[2015-01-18 22:10] dcbishop opened #120 "Move install code to the binary itself."
Might I recommend moving the install code into the binary itself (other than the bits that download the binary) and making the whole thing go gettable for those with Go already installed.

    get get -u github.com/junegunn/fzf
    fzf install

Actually this already works for building the binary with the current repo format:

    go get -u github.com/junegunn/fzf/src/fzf

People who don't have go

[2015-01-19 01:56] junegunn commented on #120
Thanks, it's a very interesting idea. But I have mixed feelings about it.

1. I don't think Go is the right tool for doing what the current install script does. We could try to embed the script as a raw string, or to make fzf download the script from GitHub, but I don't want to rewrite the script in pure Go.
1. If you look at the commit history, you'll realize that the auxiliary scripts (install,

[2015-01-19 02:15] gotbletu commented on #118
Thanks, works find & looks pretty now =)

[2015-01-19 02:15] #118 closed

[2015-01-24 06:06] junegunn commented on #118
I've just released 0.9.2 with a few more fixes:
https://github.com/junegunn/fzf-bin/releases/tag/0.9.2

[2015-01-24 15:59] blueyed opened #121 "Accept input separated by NUL bytes"
This would be useful with `find`'s `-print0`.

[2015-01-24 17:56] junegunn commented on #121
Could you explain why we would need it?

[2015-01-24 18:00] blueyed commented on #121
It would be useful for the `cd` widget to handle directories with newlines for example.

[2015-01-24 18:02] junegunn commented on #121
Whoa, do you really have directories with newlines?

[2015-01-24 20:11] blueyed commented on #121
No.. :)

But it's good practice to use `find .. -print0` anyway.

[2015-02-09 23:34] mhrebenyuk opened #124 "Quick-match like feature of Unite.vim"
Quick-match is powerful feature of Unite.vim.

Basically it let you pick the candidate in narrowed list by entering quick-match mode and pressing one of home-row key (like easy-motion). To get the idea  please see this [pic](https://cloud.githubusercontent.com/assets/2410802/5996634/93c357ea-aaad-11e4-86a4-1e0f8515e0bb.png).
It is blazingly quick compare to other ways of chosing the candidate.

[2015-02-09 23:38] olethanh opened #125 "Acces parent directory from fzf"
Hello,
first thanks for this wonderful and useful utility.

Would it be possible to add a way to go up the parent directory ? It would be especially useful when selecting a file via the Ctrl-T shortcut.

Thanks

[2015-02-10 00:39] junegunn commented on #124
Thanks for the suggestion. But I don't like the extra complexity it adds. Users have to learn about the mode and how to properly use it. Maybe it's just me, but I usually don't spend more than a couple of seconds on fzf and most of the time, I can easily narrow down the list and get what I want just by typing in a few more characters (especially with extended-search mode) without actually *reading

[2015-02-10 00:39] #124 closed

[2015-02-10 00:48] junegunn commented on #125
fzf is just a unix filter (like grep) that does not know the meaning of the items that it processes, so it's not possible to change the source dynamically. If you're on bash you can try using fuzzy completion although it won't be as easy as just hitting `CTRL-T`.

[code]

[2015-02-10 00:48] #125 closed

[2015-02-12 22:38] george-b opened #126 "Add tmux example"
I've just added an example of using fzf to search tmux panes to the wiki and thought this would open as a PR or issue but was surprised to find the edit automatically accepted. Not sure what the guide lines are for contributing so I thought I'd open an issue to check.

Example of tmux pane selection;

[code]

[2015-02-13 02:22] junegunn commented on #126
Thanks, it looks really useful! Yes, anyone can edit wiki without restriction.
I tested your example on bash, and I had to change a line to make it work on my bash.
See: https://github.com/junegunn/fzf/wiki/Examples/_compare/993a79e%5E...993a79e

[2015-02-13 02:22] #126 closed

[2015-02-13 02:27] junegunn commented on #126
Since I use 1 as the base index, I can set up the following key binding.

[code]

Thanks!

[2015-02-13 02:35] george-b commented on #126
Ah I hadn't tested bash, thanks for making the correction for this to be more generic.

[2015-02-13 08:23] acornejo opened #127 "ruby/go clarification"
I just stumbled on this project. Its amazing!

I briefly explored the code base, and I can't figure out what is going in ruby. There seems to be a full ruby implementation at the root of the project directory.

On the other hand, inside the src directory there is what looks to be like a complete go implementation. I would expect the go version to be a lot faster, so then I don't understand why the

[2015-02-13 08:52] junegunn commented on #127
fzf has been around for more than a year as a ruby script, it was recently rewritten in go.
See: https://github.com/junegunn/fzf/blob/master/src/README.md

I'm not going to further develop the Ruby version, but I'll just leave it there for backward compatibility. If I remove the file from the repo, users on systems where Go version doesn't run (e.g. Centos/RHEL 5.5) will immediately run into troub

[2015-02-13 08:52] #127 closed

[2015-02-13 23:36] george-b commented on #85
Would a github organization perhaps be an option? Something like this tmux organization https://github.com/tmux-plugins for example.

This would allow for separate repos which is useful for things like vim plugin managers. I've created a [repo](https://github.com/george-b/vim-fzf) which is essentially a mirror of the vim plugin in this repo with some minor additions purely to better integrate with

[2015-02-14 01:23] junegunn commented on #85
@george-b I'd thought about it. But felt that it would not be very useful to many, as everyone has different tastes and needs. So we would have to provide stuff that can be heavily customized, but then again, most of the stuff have only a few lines of code, so doing so can be an overkill or too much work at the same time. So, I'm currently okay with the current way of sharing examples on the wiki

[2015-02-14 03:25] george-b commented on #85
@junegunn I suppose the vim plugin is the only complex thing, as you say the other snippets are fairly simple.
:+1: for breaking up the wiki though.

[2015-02-14 03:56] lazywei commented on #85
@george-b @junegunn

Sorry I totally forgot this issue ...

I'm somehow against placing snippets in wiki as it's not easy to maintain them (without version control, and modification management). Either placing them into fzf repo, or using `fzf-contrib` to contain them would be better, IMHO.

By the way, @george-b , if you'd like to, maybe I can add you as fzf-contrib's collaborator, and then we ca

[2015-02-14 04:32] junegunn commented on #85
@lazywei @george-b I see it differently now. For me, they are just examples to give the idea of what can be done with fzf, so I don't think strict version management is really required. I want the users of fzf to creatively come up with their own solutions to their problems on their environment after skimming through the examples, instead of just picking up random stuff without fully understanding

[2015-02-14 06:49] acornejo commented on #127
Thanks for the prompt answer. it makes sense, too bad ruby can't be compiled to put it also in the release section (or maybe it could go there, even in source form, and be fetched via curl/wget as the go binaries)

Been using fzf for the last day, and I love it. Thanks for sharing it!

[2015-02-14 16:45] KaoruDev opened #128 "Exclude folders"
In node projects it'd be nice to be able to not search in the `node_modules` folder =)

[2015-02-15 22:06] D630 commented on #85
Hey, if someone is still interested in "organizing" code snippets around fzf, have a look at [this](https://github.com/D630/fzf-contrib). It's simply a first draft (or something like that). Feel free to fork and modify it to your needs.

[2015-02-17 13:03] jdevera opened #129 "Request: Provide instructions to update to go version (bleeding edge)"
I just realised you have rewritten fzf in go. I'd like to update to the latest in master, but following instructions to set up a go dev environment and so on did not take me anywhere.

I don't write go, but I'm happy to build the tool every time, rather than using the precompiled binary you provide.

I got stuck with what to set as the value of my `GOPATH`. `$HOME/.fzf` does not work.

[2015-02-17 15:10] junegunn commented on #129
Have you tried `go get github.com/junegunn/fzf/src/fzf`?
It will clone the repository in your `$GOPATH/src/github.com/fzf`.

[2015-02-17 15:27] junegunn commented on #128
When fzf is started w/o STDIN pipe, the default command it uses is `find * -path '*/\.*' -prune -o -type f -print -o -type l -print 2> /dev/null`. You can try setting up `FZF_DEFAULT_COMMAND` environment variable to override the default.

[2015-02-17 15:27] #128 closed

[2015-02-18 18:03] wikimatze opened #130 "Feature Request fasd integration"
I'm very happy with your plugin, is it possible to add the same functionality which is described under https://github.com/clvv/fasd - so when I press `d` it will show me the entries of my most typed in commands?

Thanks for the awesome work that went into this plugin.

[2015-02-18 18:38] junegunn commented on #130
Hi, I'm not sure what your request is.

Is it
1. Integration with fasd
2. or, is it writing a *fasd-like* feature using fzf?

This also confuses me a little, as fasd does not seem to have an option to show the *most used command*, but only files and directories.

If what you want is some kind of shell function for launching fzf finder for most used commands, I can think of something like the follo

[2015-02-18 20:15] wikimatze commented on #130
It is point 2. writing a fasd-like feature using fzf. So I want to have the recency of mos visited directories. Here is a small example. If I type in `d` I get:

[code]

When I type in `d conf<Tab>` I get the first match `/home/wm/git-repositories/vim-webdevicons` (7.96539), then `/home/wm/.vim/plugged/vim-webdevicons` (2), then `/home/wm/git-repositories/padrinorb-website/contribute` (1), and fin

[2015-02-19 02:40] junegunn commented on #130
I see. But fzf is just a simpler filter, like grep, that you can use it to build larger concepts. Implementing fasd-like "frecency" concept is I believe beyond the scope of this project. But I'd love to hear about it when someone comes up with such a solution which utilizes fzf.

Extending (not replacing) fasd with fzf seems like a better solution to me.

[code]

Thanks!

[2015-02-19 02:40] #130 closed

[2015-02-19 04:38] junegunn opened #131 "An option to reverse the display order"
### Suggested `--tac` / `--no-sort` combination
[code]

[2015-02-19 07:07] wikimatze commented on #130
Agree, I will try your solution.

[2015-02-19 08:10] junegunn commented on #130
Okay, also check out z-integration section in wiki.
https://github.com/junegunn/fzf/wiki/Examples#z

[2015-02-19 08:21] junegunn commented on #131
The options are already confusing. `fzf -f ''` and `fzf +s -f ''` give the same result, while the display orders of both cases are the opposite (without `-f` option). Maybe I shouldn't have made `--no-sort` reverse the display order. Two separate concerns, not sorting the result and displaying the items in the reverse order, are intermingled with no good reason. In that regard, `--reverse` was als

[2015-02-20 21:08] wikimatze commented on #130
Works very nice, thanks for it. Maybe it's better to put this command as well in the README.

[2015-02-21 02:59] junegunn commented on #130
We have migrated most of the examples on the README page to the wiki pages. Please note that anyone can edit those pages. If you come up with an useful one that you want to share, feel free to update the page. Thanks.

[2015-02-26 16:35] junegunn opened #132 "Make --filter non-blocking when --no-sort"
`--filter` doesn't have to block until the input is complete if `--no-sort` (and `--no-tac` on 0.9.4)

[2015-02-26 16:38] junegunn commented on #131
https://github.com/junegunn/fzf/commit/c1aa5c5f3380315621d30d99b258667775b0fad3

[2015-02-28 18:13] #96 closed

[2015-02-28 18:14] #105 closed

[2015-02-28 18:14] #129 closed

[2015-02-28 18:14] #43 closed

[2015-02-28 18:15] #120 closed

[2015-03-01 10:37] #83 closed

[2015-03-01 10:37] #132 closed

[2015-03-01 10:37] #131 closed

[2015-03-03 21:21] vexplore opened #135 "Directory commands bash completion behaves like files"
The fzf-completion.bash adds completion to many standard directory commands including cd. But the completion behaves like files: it adds a space instead of a /, which prevent me from keeping tab complete a long path.

The fix is easy: add -o plusdirs for the complete commands for directory commands.

[2015-03-04 03:51] junegunn commented on #135
Good point. I'll see what I can do.

[2015-03-04 03:59] #135 closed

[2015-03-04 04:41] junegunn commented on #135
Should be fixed now. Let me know if it doesn't work as expected. Thanks.

[2015-03-07 15:50] junegunn opened #137 "Neovim compatibility"
https://github.com/neovim/neovim/issues/1477

:confused:

Vim plugin of fzf relies on `:!` for running fzf when not on tmux, and Neovim currently does not (and probably will not) support running interactive programs using `:!`.

[2015-03-07 16:17] wellle commented on #137
Related: https://github.com/neovim/neovim/pull/2076

[2015-03-07 17:15] junegunn commented on #137
@wellle Yeah, I'm looking forward to that, but I still wish they don't cripple `:!`.

[2015-03-07 17:27] Tranquility commented on #137
As far as I know @tarruda just decided not to fix `:!` in the mentioned PR. I am sure he will fix it afterwards.

[2015-03-07 17:35] junegunn commented on #137
@Tranquility I'm getting the impression that they are adding `:terminal` command to compensate for not fixing `:!`. We'll see. I hope it's fixed. People have always been using `:!` for running external interactive programs in fullscreen mode, ranger, mutt, elinks, to name a few.

[2015-03-07 21:36] vheon commented on #137
It is not just an impression. It is the way it will works. They have changed the way `:!` works because it would be incompatible with msgpack-rpc UI. So when you will call an external command with`:!` that require to be attached to a tty then the new terminal buffer will be spawned with the command inside.

[2015-03-07 22:21] tarruda commented on #137
Actually, the main goal of new terminal facility is to embed and control interactive programs using vimscript. Today I pushed a commit that puts all the logic in the `openterminal` function which returns a job id. That means you can use `jobsend` and `JobActivity` to automate interactive programs in a expect-like fashion(It should be easy to parse gdb output to jump windows to file/lines when a br

[2015-03-08 00:36] junegunn commented on #137
@tarruda fzf redirects ncurses output to stderr, and prints the list of selected items to stdout. It's using `:!` because there's no other way. In case of fzf, `:terminal` is a big plus since it's using some serious hacks to open it in on a new tmux pane (similarly to dispatch.vim by tpope) not to take up the entire screen, or on an external terminal emulator when on gvim. So there's no reason for

[2015-03-08 00:55] tarruda commented on #137
Glad to know `:terminal` will be useful for running fzf with neovim.

Right now its not possible to redirect stdout to a pipe and stream data separately from ncurses output, but that is clearly useful and something I can add later. For now you might be able to handle the problem with `mkfifo`, manual shell redirection and `cat` spawned as a parallel job.

[2015-03-09 00:32] cartolari opened #139 "Keyboard shortcuts"
In the vim plugin is it possible to map commands like Ctrl-p? For example C-x for open the selected line in a horizontal split or C-v for a vertical split?
Just for example, the shortcuts  could not be the same.

[2015-03-09 03:14] junegunn commented on #139
I hope it was possible, but no. See #61. This is a price to pay for fzf being a general-purpose filter rather than a plugin for a certain platform.

[2015-03-09 03:14] #139 closed

[2015-03-09 17:00] junegunn commented on #137
I'll wait until `:terminal` is ready.

I updated the vim plugins with the new `up` / `down` / `left` / `right` options to replace `tmux_height` and `tmux_width`. I removed `tmux_` prefix because I'm goint to use native Vim splits instead of tmux panes on Neovim when `:terminal` is ready.

[2015-03-10 04:40] jebaum commented on #137
If fzf adds support to its vim plugin for opening in nvim `:terminal`, is it also possible that it'll add some keymaps? I.e. in CtrlP, you `C-t` on selected file(s) to open in tabs, `C-s` in splits, `C-v` in vertical splits, etc. Or would it stay the same as it is currently, with having to decide when you call `fzf#run()` how you want the files opened? I can see the argument against adding keymaps

[2015-03-10 04:47] junegunn commented on #137
@jebaum

Hmm, I don't know. Maybe `tnoremap` will allow us to do that?

[2015-03-10 05:06] jebaum commented on #137
Oh good point, I could imagine that being possible. I will definitely look forward to playing with that

[2015-03-10 12:10] narkisr opened #140 "illegal option: --tac"
Wheh pressing CTRL-R I get illegal option: --tac

Not sure what have changed since it used to work

Thanks

[2015-03-10 12:13] narkisr commented on #140
Ok, iv edited .fzf.zsh and it seems to have solved it (removed the options)

[2015-03-10 12:13] #140 closed

[2015-03-10 12:14] junegunn commented on #140
Yeah, there was [a backward incompatible change in 0.9.4](http://junegunn.kr/2015/03/fzf-0.9.4/). Update the repo and re-run the install script and you'll be fine.

By the way, how did you install fzf and what does `fzf --version` say? (I'm trying to see whether if you're using the new Go version or the legacy Ruby version.)

[2015-03-10 12:18] narkisr commented on #140
fzf 0.8.9 (Dec 24, 2014)

I did a pull but didn't run install yet ill do that now

Thanks

[2015-03-10 12:31] junegunn commented on #140
Ah I see, you're using the old version. The Go version (from 0.9.0) is much faster.

[2015-03-10 12:33] narkisr commented on #140
Odd because I cloned it not too long ago (about a week), I don't know how I got the older version in the first place

Thanks

[2015-03-11 07:12] dmos62 opened #141 "fzf is not added to PATH (Cygwin)"
`~/.fzf/fzf` is not automatically added to PATH. `~/.fzf/fzf-tmux` is added, and the appended line in .zshrc sources `~/.fzf.zsh`, however none of the functionality works complaining command not found.

[2015-03-11 08:17] junegunn commented on #141
`~/.fzf/fzf` is the legacy ruby version that is no longer used unless your platform does not support the new go version which is placed inside `~/.fzf/bin` by the install script. Can you post the output of the install script?

[2015-03-11 16:30] dmos62 commented on #141
~ % git clone https://github.com/junegunn/fzf.git ~/.fzf && ~/.fzf/install
    Cloning into '/home/Domas/.fzf'...
    [ommited]
    Do you want to add auto-completion support? ([y]/n) y
    Do you want to add key bindings? ([y]/n) y

    Generate ~/.fzf.bash ... OK
    Generate ~/.fzf.zsh ... OK
    which: no fish in [ommited]

    Update /home/Domas/.bashrc:
      - [ -f ~/.fzf.bash ] && source ~

[2015-03-11 16:40] xuchunyang opened #142 "[ZSH] multiple line command histroy problem?"
For example,
[code]
`fzf` (by using `C-r` in ZSH) gave me
[code]
which doesn't work like the normal `C-r` .

Any ideas?

[2015-03-12 01:08] junegunn commented on #141
Ah, you're on cygwin. I haven't been able to test fzf on cygwin lately.
The go versions are [only supported on OS X and Linux](https://github.com/junegunn/fzf-bin/releases/tag/0.9.4), so the install script will choose to use the legacy Ruby version in your case (note that some new features are not available), but there was a bug in the install script. Update the repository and try again.

[2015-03-12 08:51] dmos62 opened #143 "Legacy ruby fzf malfunctions in tmux (Cygwin)"
Opening in a tmux pane doesn't work well: `Ctrl-T` opens in a pane, but always runs from home directory, while `Alt-C` and `Ctrl-R` do not open in a new pane and run fullscreen (from correct directory). Under tmux + vim `:FZF` does not give any response, but at least the fullscreen bang version works.

[2015-03-12 08:51] dmos62 commented on #141
The ruby `fzf` installed properly now, thanks. Unfortunately, opening in a tmux pane doesn't work well: `Ctrl-T` opens in a pane, but always runs from home directory, while `Alt-C` and `Ctrl-R` do not open in a new pane and run fullscreen (from correct directory). Under tmux + vim `:FZF` does not give any response, but at least the fullscreen bang version works. I'll open a new issue.

[2015-03-12 09:27] #141 closed

[2015-03-12 10:54] junegunn commented on #143
Thanks for the report. I'm not sure when I'll be able to work on Cygwin. But I'll try to look into it soon. In the meantime, `export FZF_TMUX=0` not to use tmux pane on CTRL-T.

[2015-03-12 14:19] balta2ar opened #144 "Option for Ctrl-R to use current command-line content as a search pattern [idea]"
Very often I reuse parts of commit messages from previous commands (history) in command line. zsh-autosuggestions helps me with that. For example, I type `hg ci` and it suggests `hg ci -m "RT123456 Some previous commit message"`. However, sometimes it doesn't suggest the right thing. That's when I press `Ctrl-R`.

I thought that when my command line already contains `hg ci` and I press `Ctrl-R` to

[2015-03-12 14:33] wellle commented on #144
I think that should be doable by using the `--query` flag.

[2015-03-12 15:37] junegunn commented on #144
I like the idea, though I think it will be only possible on zsh, or maybe fish.. but I'm not really into that and growing weary of dealing with its non-standard stuff.

I'll look into it when I get some time. (I'm a bash user and honestly not really familiar with zsh stuff) Feel free to send me a PR if you feel like it.

[2015-03-12 15:40] junegunn commented on #142
Hmm, thanks for the report. bash version also seems to have problem with multi-line commands.

[2015-03-12 16:16] junegunn commented on #144
[code]
Does this work? I tried to fix #142 as well.

[2015-03-12 16:33] #142 closed

[2015-03-12 16:34] junegunn commented on #142
Should be fixed now. Please [upgrade fzf](https://github.com/junegunn/fzf#upgrading-fzf) and let me know if you see any issue. Thanks.

[2015-03-12 16:37] junegunn commented on #144
Committed the code. Please [upgrade fzf](https://github.com/junegunn/fzf#upgrading-fzf) and let me know if you see any issue.

[2015-03-12 16:37] #144 closed

[2015-03-12 16:38] balta2ar commented on #144
Yes, it's awesome! Thank you very much! I'll start using it right away.

[2015-03-12 16:38] xuchunyang commented on #142
It works now. Thanks for your work. @junegunn

[2015-03-13 14:08] junegunn commented on #143
I think I fixed the problem. Please update (git pull and rerun the install script) and let me know how it goes.

[2015-03-13 14:34] dmos62 commented on #143
Yes you have. Thank you. As far as I can tell everything works like it should.

[2015-03-13 14:39] #143 closed

[2015-03-13 15:39] junegunn opened #146 "[bash] CTRL-R cannot handle multi-line commands"
[code]

[2015-03-18 16:30] junegunn opened #147 "Windows support (go)"
### Why?

:open_mouth:
### Parts that are not Windows-friendly
- ncurses
  - alternatives: termbox, pdcurses
  - Last time I checked, termbox wasn't as stable/feature-complete/performant as ncurses
- `#include <unistd.h>`
  - `isatty`
  - Actually I tried https://github.com/andrew-d/go-termutil before cgo. Didn't work on linux.
  - alternative: https://github.com/mattn/go-isatty
- Default command

[2015-03-19 04:04] junegunn opened #149 "Panic on filter with empty string"
[code]

[2015-03-19 04:08] junegunn opened #150 "Add support for ANSI color codes"
(Previously: #148)

Interpret ANSI color codes from the input.

### Why?

Because... colors.

#### Use cases

- https://github.com/D630/fzf-fs
- https://github.com/peco/peco/issues/188

### How does it look like?

#### `CLICOLOR_FORCE=1 ls -al | fzf`
![fzf-ls](https://cloud.githubusercontent.com/assets/700826/6714463/bae03e64-cddb-11e4-9be1-92a237140d78.png)

#### `CLICOLOR_FORCE=1 ls -al | fzf --

[2015-03-19 04:14] junegunn commented on #150
## Simple benchmark

### Reader performance

No noticeable difference when `--ansi` option is not used (good!). Using `--ansi` makes reader about 4-times slower, but it's unrealistic to have 3.5M-line input with ansi colors anyway, so I think it's okay.

[code]

### Memory footprint

Memory footprint is increased by about 10% even when `--ansi` option is not used, this is due to the additional fie

[2015-03-19 09:21] #149 closed

[2015-03-19 10:57] junegunn opened #151 "Reduce memory footprint for large input"
I can remove unnecessary copy of pointers when query is empty.

[2015-03-19 11:03] junegunn commented on #151
[code]

[2015-03-19 11:03] #151 closed

[2015-03-19 11:09] junegunn commented on #150
Wow, thanks to d94dfe, the initial memory footprint is now 751MB w/o `--ansi` and 1319MB with `--ansi`. This no longer seems like an issue.

[2015-03-19 11:09] #150 closed

[2015-03-19 17:44] untitaker commented on #147
appveyor can be used for the builds. You'd have to install Go manually though.

[2015-03-20 02:45] junegunn commented on #147
@untitaker Thanks, I'll look into it.

[2015-03-21 18:43] unphased commented on #77
Any idea how I should address this issue? I need to use `xterm-256color-italic` to get italics in vim (for comments). So I want to override my `$TERM` only when fzf is in use.

I find that `TERM=screen-256color fzf` works wonderfully when I run it in the shell, so I'll  just need to find out how to get it to do that with the key binds.

[2015-03-21 18:45] unphased opened #152 "2 second delay when selecting an item in tmux using Ctrl+T"
I am wondering if there is some bad interaction with my tmux config or if this is expected behavior. When I use a bare shell and use the Ctrl+T binding, `fzf` is insanely fast, and it's perfect. When I am in tmux, it splits and starts working just as fast, but when I select anything, it will take about 2 seconds before the item I selected actually gets entered into the command line.

I think I can

[2015-03-21 19:07] unphased commented on #152
I can't reproduce this so I guess I should close it.

I should also mention that this is on OS X (on a system that's been upgraded from Mountain Lion to Mavericks to Yosemite so it's probably got decent cruft buildup).

What I also did was I added `TERM=screen-256color` to all the `fzf` calls made in `~/.fzf.zsh`. May have had something to do with it, but doubtful on that.

[2015-03-21 19:07] #152 closed

[2015-03-22 00:10] unphased opened #153 "Question about +m option (and other undoc'd options)"
I feel dumb for writing dumb questions like this, but I really can't figure out what these options are, and they are littered all over the helper shell scripts and examples here. It's not listed in the `--help` text. What does `+m` do?

[2015-03-22 00:12] unphased commented on #153
Is it perhaps `do not allow multi select`? I figured omitting `-m` would accomplish that.

[2015-03-22 00:21] unphased opened #154 "Handle Newlines"
I think it can be helpful if there's a way to specify an escape sequence that represents a newline but which does not separate the text into different options.

I can get 90% of the way there (by defining the escape sequence myself and splicing it in before and replacing the output with newlines), but I need support inside fzf to show the entry as a multiple line entry with the whole thing being o

[2015-03-22 01:33] junegunn commented on #153
Correct! It's a shared convention of some unix tools to unset an option (`-` prefix for setting, `+` for unsetting, and `--no-LONGOPT`) so it's not explicitly documented. And you're right that its purpose is to explicitly override possible `-m` in FZF_DEFAULT_OPTS.

To allow search against the first field as well. Sometimes there are many similar entries in history, and you want you pinpoint one u

[2015-03-22 02:32] junegunn commented on #152
I'm mainly on OSX with tmux but haven't experienced the problem. Anyway thanks for the report.

[2015-03-22 02:34] junegunn commented on #77
@unphased Have you tried the method on the following page?
https://alexpearce.me/2014/05/italics-in-iterm2-vim-tmux/

[2015-03-22 02:46] junegunn commented on #154
Related: #121

Thanks for the suggestion but it's non-trivial to implement multi-line entry display and it will make many parts of the code much more complex. Think about how we should handle long-line truncation, multi-part highlighting in extended-search mode, page scroll, terminal resize, mouse clicks, etc. I have very limited time to work on fzf, so I can't say anything about it right now.

[2015-03-22 03:07] junegunn commented on #147
I managed to [compile ncurses on Windows using mingw-w64](http://sourceforge.net/p/mingw-w64/wiki2/NCurses/) on msys, but that alone didn't help much. It looks like there are many more issues to be handled :confused: Since I don't think I'll be able to find enough time to continue working on Windows support, I'll just leave this issue open.

Please let me know if anyone's interested in contributin

[2015-03-22 05:26] unphased commented on #153
@junegunn Makes sense! :+1: Thanks for taking the time to clarify. Awesome

[2015-03-22 05:26] #153 closed

[2015-03-22 05:27] unphased commented on #152
I have seen it a few more times but it's mostly a rare occurrence. Might be some kind of interaction with tmux. I will be back if I can gain any more insight into this.

[2015-03-22 05:32] unphased commented on #77
I have not seen such a recommendation to make a screen-256color-italic terminfo, but it seems very straightforward to do so. Do you think this will also fix the tmux rendering problem? My workaround is pretty simple and seems to be working -- I just edited the `~/.fzf.zsh` and all its calls to `fzf` to `TERM=screen-256color fzf`.

[2015-03-22 05:36] unphased commented on #154
Yep, and I definitely can't fault you for making the decision originally (or even now) to say that newline is the de facto standard delimiter.

My workaround works fine... I will close since you left #121 open.

[2015-03-22 05:36] #154 closed

[2015-03-22 05:58] D630 commented on #146
This works for me:

[code]

and `-m` in

[code]

[2015-03-22 06:11] junegunn commented on #77
@unphased I haven't tried the solution nor italics on terminal so I don't know, but probably. It looks like you won't have to edit ~/.fzf.zsh or Vim plugin if it works. Can you try it and let me know how it goes?

[2015-03-22 06:20] junegunn commented on #146
So you mean, selecting both lines in fzf? I don't think it's a good solution to the problem, as there's no guarantee that both lines appear on the finder with some query string, not to mention that it's not straightforward for users to use.

[2015-03-22 16:14] junegunn opened #155 "\e[m should clear color state"

[2015-03-22 16:24] #155 closed

[2015-03-22 16:29] junegunn commented on #155
This is a quick fix to 0.9.5, and since 0.9.5 was released just a few hours ago, I'll just update the binaries. I don't want to release yet another version just because of this.

[2015-03-22 17:51] unphased commented on #77
I would love to try it.. but I think i've spent way too much time (all of Saturday!) reorganizing and rewriting things for my environment, and I have to work on something else today.

Do you know if it is something that tmux does that specifically requires the `$TERM` to start with `screen` that addresses the issue?

I still have to keep my own unique `~/.fzf.zsh` because I don't use `fc -l 1` for

[2015-03-22 18:01] junegunn commented on #77
@unphased

Well, see here: http://tmux.cvs.sourceforge.net/viewvc/tmux/tmux/FAQ

[2015-03-24 12:26] junegunn commented on #150
![fshow](https://cloud.githubusercontent.com/assets/700826/6801581/6265b4ae-d26c-11e4-87de-5421a1be8f31.gif)

[code]

[2015-03-24 13:15] balta2ar opened #156 "ALT-I to paste item from locate / output"
Since fzf is now very fast, I started using it to draw items from locate output. I find it a little overwhelming to type `locate / F` each time, so I've added fzf-locate-widget similar to fzf-history-widget and I've bound it to 'ALT-C'. The change is pretty simple, could you consider including it into default (zsh only)?

[code]

[2015-03-24 15:26] junegunn commented on #156
Thanks for the suggestion and I like it. But I'm not sure if I want to expand the set of default keybindings as making sure those work as expected on various platforms (and fixing them) has been a bit stressful for me. And if I'm going to add it, I want to make it available on all three shells (bash, zsh, fish) not to surprise the users. Another point to consider is that locate database is not ava

[2015-03-24 15:26] #156 closed

[2015-03-24 15:28] junegunn commented on #156
By the way, I also have a locate key binding in my tmux configuration.

[code]

[2015-03-24 16:22] balta2ar commented on #156
Thank you! I've added the recipe to the wiki page. I'll also try to use your tmux alias along with my version to see which works better for me.

[2015-03-24 17:03] junegunn commented on #156
Thanks. Your version is better that it uses $LBUFFER as the initial query. But I'm a bash user, so :)

[2015-03-25 10:39] strokirk opened #157 "Extended-search mode help text"
Extended-search mode is very useful (enough so that is should probably be added to the default `.fzf.zsh`), but I totally forgot that the explanation of the syntax is in https://github.com/junegunn/fzf today, while searching for how to make matches exact.

Could the extended-search syntax be added to the `--help` flag, or a `man` page? I do like very much that the help text currently fits in one s

[2015-03-25 15:56] junegunn commented on #157
Thanks for the suggestion. I agree that the instruction should be accessible from the command-line in some way. Now as fzf is distributed as a compiled binary, I probably shouldn't release a new version just to update `--help` message, and also I feel the same about what you said about the length of help message. So, I like the idea of providing man page though I have no experience with man pages.

[2015-03-25 18:13] junegunn commented on #157
I added a basic man page. The updated install script will generate `.fzf.{bash,zsh}` that will extend `$MANPATH` so that `man fzf` is available without root privilege. Please try it and let me know what you think.

[2015-03-26 03:08] junegunn commented on #137
https://github.com/neovim/neovim/pull/2076 is now merged, and fzf works surprisingly well inside term buffer. :tada: The only thing that does not work is shift-click or shift-scroll for selecting multiple items when `--multi` option is given.

[2015-03-26 03:43] junegunn commented on #137
![nvim-fzf-prototype](https://cloud.githubusercontent.com/assets/700826/6840060/8e5c742c-d3b5-11e4-883f-ab44022fc0eb.gif)

Issues:
- Shift-TAB / shift-click / shift-scroll not working
- Need to avoid `[Program exited, press any key to close]` prompt
- Need to change the name of the buffer
- Need autocmd for program exit

[2015-03-26 09:04] tarruda commented on #137
@junegunn I suggest waiting for neovim/neovim#2247(which will me merged until tomorrow) before merging this change

[2015-03-26 09:12] junegunn commented on #137
@tarruda Thanks for the heads up, it's nowhere near complete anyway :)

[2015-03-26 22:33] naseer opened #159 "Open vim from the fzf terminal list"
In a directory, I'm doing something like ` ag mysearchstring | fzf`
Is it possible to bind a shortcut to open vim at the line number of the result ?

[2015-03-26 23:34] oschrenk opened #160 "fish bindings only work in vi normal mode, not insert mode"
I'm using the vi bindings in fish, mostly via fzf-tmux. The key bindings only work in normal mode. Is it possible to allow them also in insert mode thus saving me a few keystrokes?

[2015-03-27 01:27] roycyt opened #161 "How to let fzf follow the symbolic links?"
Hi,
Thank you for this great work!
I used "Unite file_rec/async" in neovim to find files before.
After I found fzf, this is now my favorite. It is super fast.

Could I know how to let fzf follow the symbolic links?
I checked the man page and command help and did not find any information about that.

[2015-03-27 02:39] junegunn opened #162 "Need to ignore \e[K"
See: http://unix.stackexchange.com/questions/45190/grep-color-adds-ansi-code-esck-this-can-change-displayed-text

I'll make a quick patch and update the binary with `0.9.5-1`.

[2015-03-27 03:35] #162 closed

[2015-03-27 03:59] junegunn commented on #159
Yes we have the filename and the line number, it's trivial to write a shell script for that

[code]

By the way, I tried to enable colored output with `ag --nogroup "$@" | fzf --ansi`, but realized the current version of fzf does not correctly remove some ANSI escape sequences. This will be fixed in the next release. (#162)

[2015-03-27 04:03] junegunn commented on #160
Hi, actually I'm not really familiar with fish and didn't even know that fish has vi mode. Feel free to send me a pull request for that.

[2015-03-27 04:14] junegunn commented on #161
Hi, fzf currently does not work on neovim, I'll probably be working on neovim support during the weekend (see #137).

Having said that,
- fzf works as a unix filter, like grep, so you have to feed some input into it. e.g. `seq 10000 | fzf`
- But since most people use fzf with the list of files, I made fzf to spawn its own `find` process when input is not explicitly given.
    - The hard-coded defa

[2015-03-27 05:51] oschrenk commented on #160
Will try, but can't promise.

[2015-03-27 06:07] junegunn commented on #160
No pressure. FYI, vi mode on bash has the same problem. I'll close the issue for now. Thanks!

[2015-03-27 06:07] #160 closed

[2015-03-27 10:33] balta2ar commented on #159
@naseer sorry for offtopic, but if you use ag, you might also want to try `pt` (the platinum searcher). On some inputs it's even faster than ag (however lacks few options).

[2015-03-27 12:12] junegunn opened #163 "Simplistic key mapping support"
There has been demands for custom key mappings inside fzf (#139, #96, #61) mostly for better integration with Vim. So here's a simple idea that might meet such requirements.

Let's say we add an option that takes a comma-separated list of key chords, such as `ctrl-v`, `ctrl-t`, or `alt-a`. I can't think of a good name for this imaginary option, but let's call it `--select-with` for now.

[code]

T

[2015-03-27 12:41] #157 closed

[2015-03-27 14:17] simonweil opened #164 "Alt-C not working on OSX"
Using OSX Yosemite in bash with vim mode, `Alt-C` just prints out `ç`.

`CTRL-T` & `CTRL-R` work perfectly.

Thanks for a great tool and really awaiting the neovim support!

[2015-03-27 14:46] junegunn commented on #164
If you use iterm2, try this (excerpt from https://iterm2.com/faq.html)

[code]

[2015-03-27 15:55] naseer commented on #159
@junegunn - thanks, works like a charm, although I renamed it to agv in my bashrc :)
Now all it needs is to go to the next result from within vim - if it's possible :)

@balta2ar thanks for the `pt` tip - It does seem slightly faster

[2015-03-27 16:06] #159 closed

[2015-03-27 16:39] johnhamelink commented on #164
It's important to note that if you have a GB keyboard; this will stop you being able to use the `#` character with `alt+3` in iTerm. If you want to do this, you'll need to change your keyboard to Australian, which is exactly the same except `£` and `#` are swapped.

[2015-03-28 07:20] LmtEdition opened #166 "FZFTag not working - awk error"
I'm starting to use some of the vim examples in the wiki in my workflow. This is probably a dumb question, but does anyone know why FZFTag isn't working for me?

OS: OSX Yosemite 10.9.5
Vim 7.3 that came with installed.
Shell: fish, version 2.1.1-1205-gdd595dd

I'm assuming I just type :FZFTag, and it should bring up a list of functions from my tags file. The error I'm seeing instead is:

awk: syn

[2015-03-28 18:28] junegunn commented on #159
@naseer fzf 0.9.6 is released with the fix. Now you can have properly colored output with `ag --nogroup --color "$@" | fzf --ansi`.

[2015-03-28 18:29] junegunn commented on #163
Added `--expect` option in 0.9.6.

[2015-03-28 18:29] #163 closed

[2015-03-28 18:30] junegunn commented on #139
ctrlp-compatible key bindings are now implemented in the new version.

[2015-03-28 18:34] junegunn commented on #137
@jebaum In the meanwhile, ctrlp-compatible key bindings (CTRL-T/X/V) for `:FZF` are now implemented using `--expect` option of 0.9.6.

[2015-03-28 19:00] junegunn commented on #166
Yeah, it didn't work for me either. Now here's the working version.

[code]

[2015-03-28 19:03] #166 closed

[2015-03-28 19:20] Tranquility commented on #163
I updated to 0.9.6 but get `unknown option: --expect`. The vim plugin also fails.

[2015-03-28 19:21] junegunn commented on #163
@Tranquility Did you rerun the install script? It'll download the new binary.

[2015-03-28 19:23] junegunn commented on #163
Hmm, maybe I should check if the version is >= 0.9.6 from inside vim plugin.

[2015-03-28 19:24] Tranquility commented on #163
`fzf --version` tells me that I am at 0.9.6

[2015-03-28 19:25] junegunn commented on #163
@Tranquility What's the output of `:!fzf --version` from inside vim?

[2015-03-28 19:28] Tranquility commented on #163
It is not related to vim. Version 0.9.6 does not contain the option, even `fzf --help` does not list it.

[2015-03-28 19:30] junegunn commented on #163
That's super strange. I have tested it both on OS X and Linux. Can you show me the md5 hash of the binary installed?

[2015-03-28 19:36] Tranquility commented on #163
Oh, I am sorry, I found the problem. I built it from source yesterday. So the version from by $GOPATH was used which already had the new version number. After I removed the file it uses the correct binary.

[2015-03-28 19:38] junegunn commented on #163
Ah, I see. No problem :) Try CTRL-T/X/V from `:FZF` command.

[2015-03-28 19:38] Tranquility commented on #163
It's awesome!

[2015-03-28 19:47] junegunn commented on #163
Cool, thanks!

[2015-03-28 20:11] simonweil commented on #164
Works great, thanks!
Maybe add this info to the readme?

[2015-03-28 20:12] #164 closed

[2015-03-29 01:34] mclearc opened #167 "'FZF ~' not working"
Since the last update `FZF ~` isn't working for me. It just tells me that my home directory is an "unknown option". Is it possible a typo got inserted somewhere?

[2015-03-29 02:14] #167 closed

[2015-03-29 02:15] junegunn commented on #167
Ha, you're right. Thanks for the report. It's fixed in the last commit.

[2015-03-29 02:29] junegunn commented on #163
FYI, there was a bug in the new vim plugin :pensive: (#167) Please update again.

[2015-03-29 10:35] jebaum commented on #137
I really like that way of doing it, very unobtrusive, although wouldn't your original `tnoremap` idea still work as well?

I think there's still some support needed from neovim so that the stdout of fzf can be used to open a file, unless I'm missing something. Then the next step would be making lists of other type of data inside neovim available to send to fzf (or any other external program), like

[2015-03-29 10:52] tarruda commented on #137
I  considered adding a `termopen` option to redirect stdout or stdin to pipes, so another data channel that doesn't affect the terminal window can be used for communication between the program and Neovim. The only reason I didn't do it yet is because I want job control to be as cross platform as possible, and I don't know if this behavior will be portable to windows.

For now here's a couple of op

[2015-03-29 12:11] junegunn commented on #137
@jebaum

Neovim is not my primary editor (yet), and I'm always on tmux, so I currently have no issue running fzf on vim and now I can even have custom key bindings with `--expect` option. We can still use `tnoremap` instead on Neovim, but I don't see the point. There's no reason to implement two different ways to do the same thing. The neovim version of fzf plugin should only differ in the way it

[2015-03-29 12:37] tarruda commented on #137
@jebaum note that you can add your own custom mappings for fzf with something like this:

[code]

[2015-03-29 22:01] xcambar opened #168 "git ls-tree snippet doesn't work"
Hi,
I can't have the tip about using `git ls-tree` (https://github.com/junegunn/fzf#git-ls-tree-for-fast-traversal) to work. I'm afraid it's outdated since `fzf` has been rewritten in Go.

Honestly, my only clue here is the `declare -f fzf` statement, which, according to SO, outputs the contents of a function. But as `fzf` is a binary executable, it doesn't realy make sense to me...

Correct me if

[2015-03-30 01:15] #168 closed

[2015-03-30 01:16] junegunn commented on #168
You're right, it was an outdated snippet, thanks for letting me know :)
I replaced the snippet with an equivalent `$FZF_DEFAULT_COMMAND`.

[2015-03-30 05:45] talexand opened #169 "Slow startup with keybindings in fish"
This is using Ubuntu 14.04, fzf installed from commit 8a4db3c, and fish version 2.1.1, installed using the instructions in the README.

For some reason, starting fzf with CTRL+T or ALT+C is extremely slow (>30s), where typing `fzf` in manually starts it almost immediately.

Is there anything I can provide to help debug this?

[2015-03-30 10:18] junegunn commented on #169
Unfortunately, I don't use fish and I know very little about fish so I'm not sure if I can fix the problem. I could use some help.

[2015-03-30 10:48] strokirk commented on #157
Yes, this seems to work perfectly!

[2015-03-31 05:15] junegunn opened #172 "--expect ignored when fzf is completed by --select-1 or --exit-1"
For consistency, fzf should print an empty line even when it's finished without starting the interactive finder if `--expect` option is set.

[2015-03-31 05:24] junegunn opened #173 "Option to toggle sort (--toggle-sort=KEY)"
`--no-sort` option makes sense when the original order of the input is relevant. Command history (`CTRL-R`), [commit history](http://junegunn.kr/2015/03/browsing-git-commits-with-fzf/), and pre-sorted list from [z](github.com/rupa/z) or [fasd](https://github.com/clvv/fasd) are good examples. However, even in those cases, sometimes you do want the output to be properly sorted. So I want to have a w

[2015-03-31 13:06] #172 closed

[2015-03-31 13:07] #173 closed

[2015-03-31 16:55] bradparks opened #174 "Can I change the CTRL-HJKL bindings?"
Hey! I'm a big vim/tmux/zsh user, and I have a custom tmux config setup that lets me switch between tmux panes using CTRL + HJKL movements.

So I'd like to remap the CTRL-HJKL bindings for fzf to use something different... Is this possible? I tried looking here:

https://github.com/junegunn/fzf#using-the-finder

and editing the following file:

 ~/.fzf/shell/key-bindings.zsh

but couldn't see a wa

[2015-03-31 17:07] junegunn commented on #174
Nope, remapping of keys are not supported at the moment.

By the way, if I understood you correctly, you have CTRL + HJKL bindings on your tmux config, and they should shadow the same key bindings from fzf. Then what exactly is your problem and what do you want to achieve? If being unable to use CTRL-JK from fzf is the problem, you can use CTRL-NP or arrow keys instead, and backspace is equivalent

[2015-03-31 17:21] bradparks commented on #174
hey.... i was hoping to be able to switch them to more VIM like keystrokes if possible... Since using CTRL-JK clashes with my current tmux config. Maybe ALT-JK was what I was hoping, but no worries...  I'll just use CTRL-NP instead.... much appreciated! and fzf seems awesome so far, so thanks for the great work!

[2015-03-31 17:21] #174 closed

[2015-03-31 17:30] junegunn commented on #174
I see, maybe I'll consider allowing remapping of the keys in the future, but most of the keys (except for CTRL-JK!) are strictly based on the default readline keybindings, so it's not really urgent I guess. And hey, one can say that CTRL-NP are equally as vim-like as JK (they're for auto-completion) :sunglasses:

[2015-03-31 18:10] casimir opened #175 "^R broken when installed with homebrew"
It's kind of a edge case. I'm using the homebrew version of fzf (which is an _old_ version):
[code]
Here is the thing, I use config files from the repo directly with `bundle https://github.com/junegunn/fzf shell`. When using ^R I have this message `unknown option: --toggle-sort=ctrl-r`. This option seems to have been introduced with #173.

The best solution for me would be to update the homebrew p

[2015-04-01 00:44] junegunn commented on #175
I'm planning to release a new homebrew version when #137 is closed because I do not want to push another patch version later (0.9.7-1) just because of the change in the vim plugin part of the repo. But it's getting delayed as with the progress of neovim itself. Is there any reason you need to separately use binary from homebrew, and extension code from the tip of the repo? I can't always guarantee

[2015-04-01 12:48] junegunn commented on #175
Okay, I'll push a new version, but I'll enable `--HEAD` option as well so that the users can install the latest version using Homebrew.

[code]

[2015-04-01 13:00] junegunn commented on #175
https://github.com/Homebrew/homebrew/pull/38270

[2015-04-01 13:02] casimir commented on #175
Maybe this is a perversion of using tools working in the "all on Github today" way (antigen, vim-plug, ...) I'm using several machines and OSes daily so I try to keep my `.zshrc` as small as possible, counting on internet for the rest. Since a lot of projects I use keep the _master_ branch usable it works quite well.

Is the Go version in the same state? I systematically have Go set up on my machi

[2015-04-01 13:09] casimir commented on #175
Hum too late... Thank you though! I'm still interested if you have some minutes to answer my questions in the previous comment.

[2015-04-01 15:19] junegunn commented on #175
I had to keep the master branch stable when fzf was developed in Ruby. But now fzf is mainly in Go and distributed as a compiled binary, I don't have to. And that is kind of relieving to me. But I still do not push an incomplete or unstable set of commits to the master branch at least not intentionally. However, there's no guarantee at all on the backward compatibility of a new experimental featur

[2015-04-01 22:24] casimir commented on #175
Interesting answers thanks.

About your `$PATH` problem, just a quick thinking without looking at the script, what you see in a lot of packages for UNIX are symbolic links, they have less side effect than changing `$PATH`. Most homebrew packages use this to put binaries in the system wide bin directory ([e.g. for Go](https://github.com/Homebrew/homebrew/blob/master/Library/Formula/go.rb#L89)). On

[2015-04-01 23:08] junegunn commented on #175
I don't want to require root previlege and touch system-wide bin directories for installing fzf. So that's why it was designed to modify the user's `$PATH`.

[2015-04-02 16:22] #175 closed

[2015-04-02 16:23] junegunn commented on #175
The PR is now merged and I updated the README page accordingly.

[2015-04-03 00:49] junegunn commented on #111
Related: https://github.com/junegunn/fzf/issues/173

[2015-04-03 11:17] casimir commented on #175
It works perfectly now. Just one last thing before I stop annoying you, with a normal homebrew install /usr/local/bin is owned by the user so you don't actually need root privileges. Anyway thank you for your time.

[2015-04-03 13:10] junegunn commented on #175
Yeah, I know, but you do need root privilege when you first install homebrew itself. :) Well, talking about root privilege on OS X is pointless anyway as Macs are usually personal computers.

[2015-04-03 14:30] xcambar opened #176 "Display artifacts in OSX w/ tmux"
Hi,
Using `fzf-tmux`, I often end up with some "ghost results" in the pane. The screenshot below explains it all: I only have a single result, nonetheless, the 4 row on top of the pane are visible but not accessible (and only match a previous state of the query).

![screen shot 2015-04-03 at 16 07 07](https://cloud.githubusercontent.com/assets/657654/6983471/88767e76-da1e-11e4-8148-a28e3dde1a9d.pn

[2015-04-03 14:33] junegunn commented on #176
What is your `$TERM`? It should be either `screen` or `screen-256color` on tmux.
See: https://github.com/junegunn/fzf#rendering-issues

Excerpt from: http://tmux.cvs.sourceforge.net/viewvc/tmux/tmux/FAQ

[code]

[2015-04-03 14:40] xcambar commented on #176
[code]

Here's the contents of the terminfo definition:

[code]

So it's basically a `xterm-256color`.

But I'm using `+2` as a default option.

[2015-04-03 14:44] junegunn commented on #176
Yeah, it's not allowed on tmux. There was a similar inquiry recently. See here:
https://github.com/junegunn/fzf/issues/77#issuecomment-84417580

[2015-04-03 14:44] #176 closed

[2015-04-03 14:53] xcambar commented on #176
Fixed $TERM to be `screen-256color-italic`, as per @alexpearce's blog post (https://alexpearce.me/2014/05/italics-in-iterm2-vim-tmux/)

Works like a charm.

[2015-04-03 14:54] junegunn commented on #176
Congrats! :+1:

[2015-04-03 18:27] Randuin opened #177 ":FZF not working with a path passed"
In vim `:FZF` and `:FZF ~` will all work fine but `:FZF app/models` shows nothing
Some other odd notes. If I try `:FZF! app/models` that works, but only once, any subsequent attempts will also show nothing

[2015-04-04 00:21] #177 closed

[2015-04-04 00:22] junegunn commented on #177
Ouch! Thanks for the report. I realized that it didn't work with relative paths. Fixed it. Let me know if you still see any issues.

[2015-04-04 02:21] Randuin commented on #177
It works on first go now :+1: But after I use it once, it changes the directory to that relative path and any subsequent runs will use that. This wasn't the behavior before as far as I remember. Is there a way to get it to not change?

[2015-04-04 02:46] junegunn commented on #177
It is not supposed to work that way. So you mean `:pwd` is changed after `:FZF RELPATH`?

[2015-04-04 02:50] Randuin commented on #177
Yes

[2015-04-04 02:57] junegunn commented on #177
Strange, it's handled [in the code](https://github.com/junegunn/fzf/blob/master/plugin/fzf.vim#L237) and I can't seem to reproduce the case. I just pushed another commit that may or may not fix your problem. Please update and let me know of the exact scenario that I can follow to reproduce the problem.

[2015-04-04 04:29] Randuin commented on #177
That worked! Thanks so much!

[2015-04-04 04:43] junegunn commented on #177
Great. Thanks!
Now I see that the previous code had a bug. It didn't restore the current path when FZF is started w/o tmux and user interrupted the process (ESC or CTRL-C). I should really be adding proper test cases for vim plugin.

[2015-04-08 15:29] Ram-Z opened #178 "Fuzy find space separated words"
i.e. a mode where
[code]
would  not match `foo bar`, because the fuzy find would cross a space.

[2015-04-08 15:53] junegunn commented on #178
I'm not convinced we need it. Can you give me a realistic example for which you want the option?
- Both `foobar` and `foo bar` match, but `foobar` will be given higher rank and appear before the latter. I mean it's already easier to pick that one, so why we would need another option? Maybe because you want to use `fzf` as a non-interactive filter?
- You might also want to consider `--extended-exac

[2015-04-09 07:41] edi9999 opened #179 "Giving preference to exact matches, no matter which mode"
When I use the Ctrl-R keyboard shortcut, and search for `ssh`, I get the following results:

    ssh site@site
    ssh site@site
    git remote add origin ssh://blabla
    gs  source /usr/local/lib/python2.7/dist-packages/powerline/bindings/tmux/powerline.conf
    source ~/.zshrc

the order of the results is not optimal, because `ssh site@site` is probably what I want.

Is they anyway to get exact

[2015-04-09 08:49] junegunn commented on #179
As mentioned in the [README page](https://github.com/junegunn/fzf#key-bindings-for-command-line), sorting is disabled by default for CTRL-R because chronological ordering is relevant for command history. You can toggle sorting by pressing CTRL-R again and you'll notice that exact/closer matches appear first.

[2015-04-09 13:31] Ram-Z commented on #178
I thought of this when it took me more effort than expected when searching through my zsh history (`^R`). I usually know what command I'm looking for, so will search for that first. I also know more or less how the words are separated, so putting an explicit space between words helps filtering lots of stuff.

The history search uses the `--no-sort` option, therefore ignores the rank. I tried it wi

[2015-04-09 13:36] junegunn commented on #178
By the way, have you tried the updated version of `CTRL-R`, you can now toggle sort with `CTRL-R` key as mentioned in [the README page](https://github.com/junegunn/fzf#key-bindings-for-command-line).

[2015-04-09 13:49] junegunn commented on #178
I see what you mean, but it sounds too specific, and I'm going to have a hard time explaining it to an ordinary user of fzf :) And technically, it's how fzf currently works when `--sort` is turned on, as fzf prefers the items with shorter matched substrings.

[2015-04-09 14:03] wellle commented on #178
I'll have to admit that I like the idea of hard separators. Especially in `^R` I've been in that situation many times.

The chronological ordering is very useful there, but it allows a lot of noise (very long matches) that I need to skip over manually most of the times.

[2015-04-09 14:23] junegunn commented on #178
@wellle @Ram-Z
So if I understood correctly, `aa/bb/cc` effectively translates to `a[^/]*?a[^/]*?/b[^/]*?b[^/]*?/c[^/]*?c[^/]*?`, and `aaa/bbb/ccc` matches the pattern but `aaa/bbb/xxx/ccc` does not. Is it correct? Or am I missing something? If that's the case, it might be useful if the input only consists of paths, but I don't think it's ideal for command history. For example, consider input stri

[2015-04-09 15:05] wellle commented on #178
Yeah I see your point. Maybe `'oobar` in `--extended` search mode is the better solution here. Because that way you can mark explicitly which parts of your query should fuzzy over spaces and what shouldn't.

[2015-04-09 16:10] Ram-Z commented on #178
Not quite, when a `/` appears in the search, it means that the part before and the part after must have at least one `/` between them. And the separator is not allowed if it wasn't explicitly added to the search pattern.

Rather something like `a[^/]*?a.*?/.*?b[^/]*?b.*?/.*?c[^/]*?c`. So for the string `aaa/bbb/xxx/ccc`

[code]

Indeed, if the hard separator is a `/` it makes only sense for paths,

[2015-04-09 16:18] Ram-Z commented on #179
You can also edit the `fzf-history-widget()` in `~/.fzf.zsh` and add `-x` to the fzf command. Now you can search for exact matches by prepending your search string with `'` (f.ex. `'ssh`).

Also have a look at the discussion in #178.

[2015-04-09 16:26] junegunn commented on #179
I suggest setting up `$FZF_DEFAULT_OPTS` (e.g. `export FZF_DEFAULT_OPTS='-x'`) instead of editing the source directly.

@Ram-Z Please note that the latest `install` script no longer generates `~/.fzf.{zsh,bash}` with full definitions. Those files now simply load files in `~/.fzf/shell/`.

[2015-04-09 16:39] junegunn commented on #178
I see. It makes sense. But I must say it's a bit hard to follow at first. The problem with the suggested approach is that when space is used as a hard separator, it is no longer compatible with the current extended-search mode, where spaces are used to separate multiple search terms. Which means in order to implement the scheme, we cannot augment the preexisting modes with the concept of hard sepa

[2015-04-10 04:58] junegunn commented on #137
@tarruda Hi, are you still planning to add `TermClose`? For this to work, I need a way to either
- synchronously and exclusively run fzf
- or get notified when the process is complete so I can take the next step.

[2015-04-10 07:00] edi9999 commented on #179
I found https://github.com/junegunn/fzf/issues/111 which already gave me the idea of using `export FZF_DEFAULT_OPTS='-x'`

I've used it since yesterday and it seems a good solution.

Out of curiosity, what other config do you use @junegunn on your machine ?

[2015-04-10 07:49] junegunn commented on #179
You can check out my dotfiles repo on github. I'm still experimenting with stuff, and I recently managed to integrate Chrome browsing history and bookmarks with fzf.

Anyway, I believe I answered your initial question with 1. quoting in extended-search mode 2. and the recent addition of `--toggle-sort=ctrl-r` (see #173). I'm closing this. Thanks.

[2015-04-10 07:49] #179 closed

[2015-04-10 07:51] tarruda commented on #137
@junegunn Yes I will add `TermClose`. I'm just waiting a few days for the community to give more feedback on the terminal emulator before I start fixing bugs and enhancing it.

But there's a temporary workaround you can use to get an exit notification: Just spawn the terminal with [`termopen`](http://neovim.org/doc/user/eval.html#termopen()) which is similar to `jobstart`. Here's a little snippet

[2015-04-10 07:59] junegunn commented on #137
@tarruda Good to know, thanks!

[2015-04-10 08:08] tarruda commented on #137
@junegunn Actually the crash I mentioned earlier is gone, thanks to @splinterofchaos. The following should also work:

[code]

[2015-04-10 08:12] junegunn commented on #137
@tarruda Ah, okay. Then I'll try to implement using the above approach.

[2015-04-10 14:53] junegunn commented on #137
![nvim-fzf](https://cloud.githubusercontent.com/assets/700826/7089995/eceb1864-dfda-11e4-91c5-6ff5e5289bbf.gif)

Pushed the update. Please test it if anyone's interested. I tried to make neovim version as close to the original as possible.

A few points to mention:

- Since `fzf#run()` call is asynchnous on Neovim, we can't make it return the list of the selected items as before. Instead I added `

[2015-04-10 14:55] Ram-Z commented on #178
Indeed, it's not compatible with extended-search mode. I think it could be an extension of the normal search mode though, it could even be integrate it into the main search loop [algo.go#L34](https://github.com/junegunn/fzf/blob/master/src/algo/algo.go#L34) I believe.

Another approach would be to consider each string separated by a hard separator as a different pattern to search, with the restric

[2015-04-10 15:29] tarruda commented on #137
I already replaced ctrlp by fzf and couldn't be happier

Currently `jobwait` is broken, but maybe it can be used to implement a synchronous version later.

Are you saying that the terminal buffer is shown instead of the file? Any hints on how to reproduce?

nnoremap <s-tab> :echom reltime()[1]<cr> works on Neovim. But it doesn't work on Neovim opened inside :term

It seems shift-tab is not forward

[2015-04-10 15:52] junegunn commented on #137
Yes, just `[Program exited, press any key to close]` message and nothing else. I checked the undo list of the buffer and it was clear. I ran into it only a few times, and I haven't found a reliable way to reproduce the case. I'll let you know if I figure it out.

[2015-04-10 16:12] junegunn commented on #137
![exit-buffer](https://cloud.githubusercontent.com/assets/700826/7091645/36b19eae-dfe6-11e4-9349-8d3e193ffb10.png)

@tarruda This is how it looks like. If I press any key in this state, the tab is immediately closed. But if I press `<C-\><C-n>` to escape the terminal, I'm left with the buffer on the tab and the it's `&modified` but with no undo list. I still am not sure how to reliably reproduce i

[2015-04-10 16:13] splinterofchaos commented on #137
I've had this happen too. Start nvim in a sufficiently large file like (from nvim's source dir) `src/nvim/eval.c`. Then run `:FZF` to open a sufficiently small file, like `BACKERS.md`. The screen will be blank. (May have to try more than once.) Scrolling with the mouse to the top line will reveal that the second like has `[Program exited, press any key to close]` and the file should be truncated,

[2015-04-10 16:47] adambiggs commented on #137
@junegunn @tarruda awesome work guys! FZF in NeoVim is blazing fast!

[2015-04-10 18:57] Tranquility commented on #137
Really nice! :+1:

Can you think of any way to adjust the buffer size with the number of hits?

[2015-04-11 01:16] junegunn commented on #137
@adambiggs Thanks!

@Tranquility I also thought about that. We probably could use some autocmd to monitor the number in the buffer and resize it accordingly.

[2015-04-11 01:50] noahfrederick commented on #137
This has been working great.

With `:set cmdheight=2` the following text is shown in the command-line area when fzf is open:

    "[FZF]"  4 lines --25%--
    -- TERMINAL --

It might be nice to clear that message on the first line, since it represents visual clutter and provides no useful information in this context.

[2015-04-11 02:19] junegunn commented on #137
@noahfrederick Fixed it, thanks for the suggestion!

[2015-04-11 12:51] mtglsk commented on #137
:set laststatus=0
    :vnew
    :new
    :FZF<CR>

Screen gets garbled and cmdheight increases +1.

[2015-04-11 14:56] junegunn commented on #137
@mtglsk It's reproducible even without fzf plugin.

[code]

[2015-04-11 15:12] mtglsk commented on #137
Ok, i opened a bug on neovim.

[2015-04-11 15:17] junegunn commented on #137
@mtglsk Ugh, it's also reproducible on Vim.

[2015-04-11 15:43] firedev opened #181 "Using with vim"
Hi,

I tried to add fzf to vim via Vim Plug as described, but only `:FZF!` works.

`:FZF` simply does nothing (I am using tmux), neither are [Open in splits](https://github.com/junegunn/fzf/wiki/Examples-(vim)#open-files-in-splits) mappings.

What am I doing wrong?

Also on a side note, I couldn't find a way to supply a list of ignored files and folders. Is there a way to ignore certain patterns?

[2015-04-11 15:44] junegunn commented on #181
Does `fzf-tmux` or `fzf` command work on your shell?

[2015-04-11 15:48] junegunn commented on #181
fzf is a command line filter that can be used with anything, so it doesn't have the notion of ignored files and folders.

[code]

When the input is not specified (`fzf` w/o STDIN pipe), it will use `find` command as the default input. You can set `$FZF_DEFAULT_OPTS` environment variable to a command that lists the files as you like.

[2015-04-11 15:49] firedev commented on #181
Yes both `fzf` and `fzf-tmux` work, and `:FZF!` works fine. I have copied the whole FZF part of (your config)[https://github.com/junegunn/dotfiles/blob/da378217ad008d422bc5b577802cad237a2930e1/vimrc#L1196-L1198] but no shortcuts do anything.

[2015-04-11 15:51] firedev commented on #181
Hmm looks like they do work when not in tmux session. If that helps.

[2015-04-11 15:53] junegunn commented on #181
Can you try `:call system('seq 100 | fzf-tmux')` in vim on tmux session. Does it open a tmux pane below?

By the way, "Open in splits" mappings in the wiki page is no longer needed. As `:FZF` can now do it with `CTRL-X/V/T`.

[2015-04-11 15:55] firedev opened #182 "Ignoring certain patterns"
Splitting this from #181

[code]

Sorry my knowledge is limited, how can I supply a list of ignored patterns for FZF?

[2015-04-11 16:01] junegunn commented on #182
It's not the responsibility of fzf. You have to feed the right input to fzf, and for vim plugin, setting up `$FZF_DEFAULT_COMMAND` will do. You can set it to some command or your own script that lists the files under the current directory.
Please refer to: https://github.com/junegunn/fzf#respecting-gitignore-hgignore-and-svnignore

[2015-04-11 16:01] #182 closed

[2015-04-11 16:06] junegunn commented on #182
Note that you can also set the environment variable inside vim:

[code]

[2015-04-11 16:30] firedev commented on #181
`:call system('seq 100 | fzf-tmux')` does nothing

[2015-04-11 16:35] junegunn commented on #181
How about
- `:echo system('which fzf')`
- `:echo system('which fzf-tmux')`

[2015-04-11 16:38] firedev commented on #181
Hmm... both not found.

[2015-04-11 16:40] junegunn commented on #181
Okay, create a new tmux window (which will load ~/.bashrc or ~/.zshrc), open vim there and try again.

[2015-04-11 16:45] firedev commented on #181
I have added '/Users/me/.fzf/bin' to '~/.zshenv', that made it work. I guess it is better to install FZF with Homebrew rather than vim plugin, is it?

[2015-04-11 16:56] junegunn commented on #181
No don't do that. The install script will download fzf binary and inject code to your ~/.zshrc that extends your `$PATH`, so manual update of your env files is not required. The reason `:FZF!` worked and `:FZF` didn't is that `fzf-tmux` script expects `fzf` to be in `$PATH`, but it wasn't as the updated ~/.zshrc was loaded on the tmux window you're running vim. As I mentioned earlier, if you open

[2015-04-11 16:59] junegunn commented on #181
No, not necessarily. I use vim-plug to manage fzf.

[2015-04-11 16:59] firedev commented on #181
I opened a new Terminal window, killed tmux server and everything. It just didn't work until I've changed `.zshenv`

[2015-04-11 17:00] junegunn commented on #181
Do you see `[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh` in your .zshrc?

[2015-04-11 17:02] junegunn commented on #181
You said:

But you also said:

when I asked you about `:echo system('which fzf')`. I'm not sure what's going on.

[2015-04-11 17:22] firedev commented on #181
`[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh` in `.zshrc` - yes.

But as far as I know vim uses different shell that bypasses `.zshrc` or something. That's why I have a duplicate of `$PATH` in `.zshenv`.

`fzf` and `fzf-tmux` did work from terminal, just not from Vim, adding path to `.zshenv` fixed that.

[2015-04-11 17:26] junegunn commented on #181
If they work from terminal, and you started Vim from that shell, they should also work in Vim which is a subprocess of the shell. You'll notice that `$PATH` is `export`ed inside `~/.fzf.zsh`.

Anyway, with the previous commit, now both `:FZF` and `:FZF!` should run on a shell where fzf is not (yet) in `$PATH`. Thanks for the report.

[2015-04-11 17:26] #181 closed

[2015-04-13 08:02] Hunter-Github opened #184 "Pressing `Insert` crashes to terminal"
fzf version 0.8.9 (Dec 24, 2014)

Pressed Insert key. Crashed not so gently to terminal.

    /home/AUser/bin/fzf:992:in `pack': no implicit conversion of Symbol into Integer (TypeError)
    	from /home/AUser/bin/fzf:992:in `get_input'
    	from /home/AUser/bin/fzf:1155:in `start_loop'
    	from /home/AUser/bin/fzf:307:in `start'
    	from /home/AUser/bin/fzf:1345:in `<main>'

[2015-04-13 08:44] junegunn commented on #184
Hi, thanks for the report, but I currently do not maintain the legacy Ruby version (< 0.9). Is there a reason you have to use the old version? Windows?

[2015-04-13 09:17] Hunter-Github commented on #184
ruby 2.2.1p85 (2015-02-26 revision 49769) [i686-linux]

[2015-04-13 09:19] Hunter-Github commented on #184
Actually, can choose any ruby, am running `rvm`.

[2015-04-13 09:21] jotham opened #185 "MacOSX 10.10.2 / fzf 0.9.4 Memory Leak"
I've managed to consistently recreate a problem I've been having with fzf in OSX.

$ fzf --version
0.9.4
$ uname -a
Darwin 14.1.0 Darwin Kernel Version 14.1.0: Thu Feb 26 19:26:47 PST 2015; root:xnu-2782.10.73~1/RELEASE_X86_64 x86_64

If I open a terminal window and run (at a minimum) $(fzf) then close the terminal window (Terminal.app) I notice fzf doesn't exit and uses increasingly more and more

[2015-04-13 09:24] Hunter-Github commented on #184
ruby 2.2.1p85 (2015-02-26 revision 49769) [i686-linux]

Actually, can choose any ruby, am running rvm.

[2015-04-13 09:29] junegunn commented on #184
No, I meant fzf version, not Ruby version. fzf was completely rewritten in Go earlier this year, and no longer requires Ruby. See: https://github.com/junegunn/fzf/blob/master/src/README.md

[2015-04-13 09:37] Hunter-Github commented on #184
Ok. Seems like i686 isn't supported, either. Thanks anyway.

[2015-04-13 09:40] junegunn commented on #184
No, they are supported.
https://github.com/junegunn/fzf/blob/master/install#L76-L79

What is the output of `uname -sm` on your machine?

[2015-04-13 09:48] Hunter-Github commented on #184
Linux i686. I compiled the binary by tweaking the Makefile:

     #ifneq ($(shell uname -m),x86_64)
     #$(error "Build on $(UNAME_M) is not supported, yet.")
     #endif

    #BINARY64  := fzf-$(GOOS)_amd64
    #VERSION    = $(shell fzf/$(BINARY64) --version)
   #RELEASE64  = fzf-$(VERSION)-$(GOOS)_amd64

    release: build
    	cd ../fzf && \
    	cp $(BINARY32) $(RELEASE32) && tar -czf $(RELEA

[2015-04-13 09:52] junegunn commented on #185
Thanks for the report. That's strange. I'm not sure but it can be a bug of Terminal.app. If you try `$(sleep 10000)` and close the window, you'll notice that `sleep` process is not correctly terminated. :confused:

[2015-04-13 09:58] junegunn commented on #184
Hey, did you read the installation guide? If you use the attached install script it will download the right binary for your platform, or, as mentioned there, you can download a prebuilt binary (linux_386) from here: https://github.com/junegunn/fzf-bin/releases

[2015-04-13 10:00] Hunter-Github commented on #184
I prefer to build executables from the source, BTW thanks for the great utility.

[2015-04-13 10:00] #184 closed

[2015-04-13 10:24] junegunn commented on #184
I see, thanks.

[2015-04-13 20:37] schmooser opened #186 "Inconsistent behavior with cyrillic"
Hi Junegunn,

I found that `fzf` works strange with cyrillic.

This example works as expected:

    $ printf "roW1\nROW2\nrow3\nRow4\n" | fzf

![screen shot 2015-04-13 at 23 32 39](https://cloud.githubusercontent.com/assets/480160/7124916/7e650762-e235-11e4-933e-6f8a5a98ff77.png)
![screen shot 2015-04-13 at 23 32 24](https://cloud.githubusercontent.com/assets/480160/7124918/7e6cd9ec-e235-11e4-84de

[2015-04-13 20:47] schmooser opened #187 "`CTRL-S/V/T` are not working when using fzf#run"
HI Junegunn,

I'm trying to use `fzf` to replace `ctrl.p`, but when I implemented custom searches (within git project, mru, buffers) using `fzf#run` I'm unable to use `CTRL-S/V/T` shortcuts.

Here is the excerpt from my `.vimrc` (buffers and mru are from fzf wiki)

    " Current Buffers
    nnoremap <silent> <C-b> :call fzf#run({
    \   'source':  reverse(<sid>buflist()),
    \   'sink':    funct

[2015-04-14 01:31] junegunn commented on #187
Hi, there is no default key binding. `:FZF` command uses [`--expect` option](https://github.com/junegunn/fzf/issues/163) so that fzf can finish on those keys. See the implementation of it [here](https://github.com/junegunn/fzf/blob/master/plugin/fzf.vim#L313-L354).

So the vim plugin for fzf only provides a primitive building block `fzf#run()` for more sophisticated features. This gives you greate

[2015-04-14 02:47] junegunn commented on #186
Thanks for the report. The cause of the problem is that fzf uses `strings.ToLower()` function to make the query lowercase, but it does not use it and instead manually processes english alphabets only during search for much better performance. I'll see what I can do.

[2015-04-14 05:07] schmooser commented on #186
Maybe then do also string.ToLower() to a search string? Now fzf lose some results :-(.

[2015-04-14 05:11] junegunn commented on #186
Well, just fixing it is trivial. But in order to fix it without performance regression, I'll have to evaluate several options. I'll let you know of the progress.

[2015-04-14 05:16] schmooser commented on #186
Ok, thank you! `fzf` rocks!

[2015-04-14 12:35] jotham commented on #185
Hey,

Not sure this provides any more help.

If I fashion the following script:

[code]

Then in /tmp/traps I get a SIGHUP when I close the Terminal.app window, and as expected "sleep 10000" is still running as a process.

If I swap $(sleep 10000) with $(fzf) then fzf exits correctly.

Following that, I've created a simple bash script only containing $(fzf) and it exits cleanly as well.

My initia

[2015-04-14 14:22] #185 closed

[2015-04-14 14:24] junegunn commented on #185
Thanks for the detailed report. I noticed that fzf goes into an infinite loop when that happens. Fixed the problem and released 0.9.8.

[2015-04-14 14:24] junegunn commented on #186
Hey, I fixed the bug and released 0.9.8. Performance overhead of the fix is around 5%, but it won't be really noticeable. (e.g. +0.3 second for filtering 3 million lines. Of course, correctness is much more important than minor slowdown.)

[2015-04-14 17:10] #186 closed

[2015-04-14 17:11] #187 closed

[2015-04-14 17:12] #137 closed

[2015-04-14 17:16] junegunn commented on #161
Try this:
[code]

[2015-04-14 17:16] #161 closed

[2015-04-14 17:33] schmooser commented on #186
I checked version 0.9.8. Everything works just fine! Thanks for blazingly fast fix.

[2015-04-14 18:08] tamagokun commented on #137
Been watching this thread, and think I am definitely missing something.

I've reinstalled both fzf and neovim from HEAD and am getting the following:

![screen shot 2015-04-14 at 2 07 34 pm](https://cloud.githubusercontent.com/assets/487333/7143850/b2f8b0f8-e2af-11e4-9b91-bf9f9212302a.png)

[2015-04-15 01:52] junegunn commented on #137
@tamagokun Alright, make sure to run the install script after update so that it downloads the latest Go binary for your platform. Or you can just set up a post-update hook and forget about it.

[code]

[2015-04-15 08:54] lazywei opened #190 "List displaying is broken in tmux"
Hi, I'm not sure if this is a bug in fzf or tmux. I got the "broken" list when using fzf under tmux.
Everything just works fine when outside tmux.
Thanks.
![image](https://cloud.githubusercontent.com/assets/2840571/7155270/ee8001ea-e38f-11e4-8c6f-5989b14ebfd1.png)

[2015-04-15 09:52] edi9999 commented on #190
I had the same issue.

The problem is easily solved : See https://github.com/junegunn/fzf#rendering-issues

Specifically: If you're on screen or tmux, $TERM should be either screen or screen-256color

[2015-04-15 10:06] junegunn commented on #190
Yeah, I'm pretty sure that this is a duplicate of #176.

[2015-04-15 10:16] lazywei commented on #190
Okay, thank you both. I'll check it out!

-- Chih-Wei
Sent from Mailbox

On Wed, Apr 15, 2015 at 6:06 PM, Junegunn Choi <notifications@github.com>
wrote:

[2015-04-15 10:30] #190 closed

[2015-04-15 10:43] tarruda commented on #137
Just wanted to let you guys know that I'm aware that there are still problems with Neovim/fzf integration, but it's Neovim bugs which I will fix as soon as I have time.

[2015-04-15 11:28] tamagokun commented on #137
@junegunn for what it's worth, I was reinstalling fzf using Homebrew (`brew reinstall --HEAD fzf`) and forgot that I also needed to update the vim plugin.

[2015-04-15 11:47] junegunn commented on #137
@tarruda Thanks!

@tamagokun In that case, you don't need to separately install/update vim plugin, as it's already included in Homebrew package and updated when you `reinstall`. You can remove `Plug` line from your .vimrc, add `set rtp+=/usr/local/Cellar/fzf/HEAD` and you're set.

[2015-04-15 11:48] tamagokun commented on #137
@junegunn aha! Of course. Thanks!

[2015-04-15 16:29] junegunn opened #191 "Customizable sort criteria"
fzf lists the matches using the following sort criteria:

1. First by the sum of the lengths of matched substrings (plural because of extended-search mode)
2. Then by the length of the line
3. Lastly by line index (line number)

From my experience, this default scheme works pretty well for most of the cases, especially for files. I know there can be a wide variety of different needs but it is prac

[2015-04-15 17:11] qiemem commented on #191
Another idea:

It could take in a executable/function name that is passed the query string and matching line (and possibly other information like match lengths) and returns a key. This would allow total customization while keeping fzf itself as simple as possible.

This is probably prohibitively slow, of course, since it would have to call out to an external process on every line. Something like t

[2015-04-15 19:50] tfmoraes opened #192 "Enter open only the first file on neovim"
Hi,

I'm using neovim (NVIM 0.0.0-alpha (compiled Apr 15 2015 06:36:24), from Ubuntu PPA ). When I try to open a file using :FZF with the enter key, the first file open right. But when I try to open other files in the same way (:FZF and enter key) it doesn't work, and shows this message:

[Program exited, press any key to close]

 if I use the Ctrl-V it opens all right. The fzf version is the last

[2015-04-16 00:48] junegunn commented on #192
Hi, thanks for the report.
I also noticed that the problem randomly occurs, must be some kind of a race condition in Neovim. I [reported the problem](https://github.com/junegunn/fzf/issues/137#issuecomment-91604555) to @tarruda, and [he replied](https://github.com/junegunn/fzf/issues/137#issuecomment-93317025) that he'll be fixing the problem.

[2015-04-16 00:57] junegunn commented on #191
@qiemem That's an interesting idea, thanks, and yeah, it's true that it'll be prohibitively slow. It should allow total customization, but at the same time, it'll be be much harder to user for ordinary users.

I'm leaning towards adding `--tiebreak` option. Simpler and does the job. Also no increase in memory footprint or sorting cost.

[2015-04-16 01:11] tfmoraes commented on #192
Thanks! I'll close this issue.

[2015-04-16 01:11] #192 closed

[2015-04-16 02:06] junegunn opened #193 "Option to disable horizontal scroll"
- `--no-hscroll`
- `--fixed`

[2015-04-16 05:32] junegunn opened #194 "Visual indication of --toggle-sort"
It's hard to tell if sort is current enabled or disabled when `--toggle-sort` is used.

[2015-04-16 05:58] junegunn commented on #191
- `--tiebreak`
    - `length` - Good default when the meaning of the input is not known
    - `begin` - Nice for columnar input. e.g. Chrome [history](http://junegunn.kr/2015/04/browsing-chrome-history-with-fzf/) / [bookmark](http://junegunn.kr/2015/04/browsing-chrome-bookmarks-with-fzf/)
    - `end` - Useful when searching for file names. File name > Dir name
    - `index` - `history` where the r

[2015-04-16 06:34] schmooser opened #195 ":FZF is not quitting by ESC"
Hy Junegunn,

:FZF stopped quitting by ESC, only C-c is available to exit. ESC now turns it into Normal mode.

Is this intended behavior?

Environment: latest nvim and fzf, OS X Mavericks.

[2015-04-16 06:39] schmooser commented on #195
If it's intended behavior, then the problem is the following: If I do ESC and :q in FZF buffer then on next run :FZF will say that it's already running (works as designed here). As I also use it as buffer switcher it's frustrating.  The only way remaining is manual buffer switching.

[2015-04-16 07:56] shkm opened #196 "FZF breaking Tmux zoom"
Assuming I have a multi-pane window and vim is zoomed, executing FZF takes the window out of zoom.

Is this fixable? Perhaps via a tmux config change, if nothing else?

Thanks!

[2015-04-16 12:39] #196 closed

[2015-04-16 12:40] junegunn commented on #196
I don't think it's possible. You'll notice that a zoomed pane shrinks when you `tmux split`. You can try Neovim where fzf uses native vim splits instead of tmux panes.

[2015-04-16 12:46] junegunn commented on #195
No, in my case, fzf split is closed when I press ESC key. I tested with nothing but fzf.

[code]

[2015-04-16 12:57] schmooser commented on #195
Ok, I'll recheck it. Thanks.

[2015-04-16 13:40] #191 closed

[2015-04-16 13:40] #193 closed

[2015-04-16 13:40] #194 closed

[2015-04-16 13:45] shkm commented on #196
Yeah, thanks for responding.

I closed the issue because I realised that this just works in NeoVim :-). Unfortunately I'm having other issues with NeoVim, but I'll try to get around them because I really love FZF and the whole zoom-breaking thing is killing me right now.

[2015-04-16 18:12] schmooser commented on #195
I found what caused the problem, I added

    tnoremap <Esc> <c-\><c-n>

to escape from Terminal nvimrc.

Sorry for interrupting.

[2015-04-16 18:12] #195 closed

[2015-04-17 07:03] edi9999 opened #197 "[neovim] Crash"
Hi,

when using neovim inside a zsh session (not tmux), I always get the following error when running FZF:

    /build/buildd/neovim-0.0.0+git201504142149+8+9~ubuntu14.04.1/src/nvim/ui.c:445:
    ui_cursor_left: Assertion `new_col >=0' failed

This doesn't happen if I'm inside a tmux session

[2015-04-17 13:31] justinmk commented on #197
Please report to Neovim

[2015-04-17 16:54] Shurakai commented on #167
@mclearc was this report only related to vim?

I just checked out  fzf today (cloned the repo) and used this command; but fzf will tell me the same as you. (I use zsh)

 % fzf ~
unknown option: /home/heinrich

[2015-04-17 16:56] junegunn commented on #167
fzf does not take any arguments unlike `:FZF` on Vim. See `fzf --help` or `man fzf`.

[2015-04-17 17:10] mclearc commented on #167
@Shurakai - I think this was a bug in FZF vim. With the current commit it works both in vim (nvim) and zsh for me.

[2015-04-17 17:46] junegunn opened #198 "Color scheme for light background"
The default color scheme for 256-color terminal may not be easy to read on light background depending on the color scheme. I'll add a color scheme for light background.
![2015-04-18 2 40 46](https://cloud.githubusercontent.com/assets/700826/7207526/fd303160-e574-11e4-909d-a000bc0b8623.png)
![2015-04-18 2 39 53](https://cloud.githubusercontent.com/assets/700826/7207527/fd57266c-e574-11e4-8553-0db7e

[2015-04-18 01:48] #198 closed

[2015-04-18 04:02] junegunn commented on #197
Yep, it's definitely a neovim issue, though I can't reproduce.
[code]

[2015-04-18 05:43] mayuroks opened #199 "Can this be used with vim autocompletion ?"
I am writing a python script and I used Jedi. So when the auto completion is triggered, I see a huge list of possible autocompletions. Can fzf vim plugin help me fuzzy search / select through that huge list ?

[2015-04-18 06:28] junegunn commented on #199
Yes it's possible, though I'm not sure if it's better than using YCM or neocomplete (I don't have enough experience with either).

The following example will give you the idea.
[code]

(I just realized that `a:query` cannot contain `"` even in escaped form due to a bug/limitation in `fzf-tmux` script. :confused:)

[2015-04-18 06:51] junegunn opened #200 "fzf-tmux fails with `"`"
[code]

[2015-04-18 07:25] #200 closed

[2015-04-19 02:38] ekeitho commented on #169
Rather than piping __fzf_list | fzf [params].
I simply just have 'fzf -m > $TMPDIR/fzf.result' in my fish functions and the response is almost instant.

[2015-04-19 06:40] wookayin opened #201 "fzf-tmux: A weird scrolling behavior when tmux pane is closed"
Hello,
First of all, thanks for the awesome utility, `fzf`.

I have an issue while using it with tmux, and I believe that perhaps **`tmux`**, not `fzf`, is responsible for the problem; however, as I think this situation might happen to a couple of `fzf` users and similar issues have been never reported to the best of my knowledge, I am going to open a question or issue.

Please take a look at the

[2015-04-19 06:55] jebaum opened #202 "Optionally disable number line"
Personally I find that I almost never look at the line containing the number of items fzf is searching and the number currently matched (and occasionally the spinner), especially when I'm using fzf with vim/nvim. It would be nice to be able to optionally disable printing this and save a line, which on smaller screens can make a difference. Could an option like `--no-info` be implemented?

[2015-04-19 07:03] junegunn commented on #201
Hi, thanks for the report. Actually I experience the same problem. Yeah, it looks like tmux *pulls down* the content of the above pane when the one below it is closed. (Note that `fzf-tmux -l` and `fzf-tmux -r` don't have the issue.) The reason the demo on the README page doesn't have the problem is that it was performed on a new tmux window with empty scrollback buffer. Like you said, I guess it'

[2015-04-19 07:10] wookayin commented on #201
Thanks for the immediate feedback.

I think I need to delve into the issue in company with tmux developer groups, or I will try to find any possible workaround. I will let you know once I come up with any progress.

[2015-04-19 07:23] junegunn commented on #201
Thanks.

[2015-04-19 07:30] junegunn commented on #202
Thanks for the suggestion. But I don't think saving a line would make a big difference and would rather not add yet another option which I don't think will be widely popular. You can easily increase the height of `:FZF` split with `g:fzf_height` (default: `40%`) or you can just use `:FZF!` on smaller screens. Also, since the info line shows the number of selected items when `--multi` option is set

[2015-04-20 02:13] megalithic opened #203 "Force fzf-tmux to be used for CTRL-R (command history) usage"
Hi there, is there a way (other than editing/overriding the function) to force fzf-tmux to be used when executing command history (CTRL+R) behaviors?

Thanks.

[2015-04-20 02:36] junegunn commented on #203
Unfortunately, no. But it's one of the things I've been meaning to address. We currently have `$FZF_TMUX` and `$FZF_TMUX_HEIGHT`, but they only affect `CTRL-T`. I think we should instead make separate vars for each key binding. Also, `CTRL-T` was implemented before `fzf-tmux` was added so it does not leverage the script.

[2015-04-20 05:47] phongnh opened #204 "fzf-tmux is broken in the latest commit 537d07c1e5133727dddbd6a345f5926719a3d7b4 with fish shell."
Hi junegunn,

I have just upgraded fzf to the latest commit, and it is broken with error:

[code]

It worked fine before.

Thanks.

[2015-04-20 05:59] junegunn commented on #204
Thanks for the report. I changed the script to use `bash` instead of `sh`. Can you update and test it?

[2015-04-20 06:10] phongnh commented on #204
Hi junegunn,

The problem is still there. It seems that you need to escape $ at $(cat ...), change it to \$(cat ...)

![screen shot 2015-04-20 at 1 08 08 pm](https://cloud.githubusercontent.com/assets/438791/7224592/85705196-e75e-11e4-83d6-52a5a0895aa6.png)

[2015-04-20 06:23] junegunn commented on #204
Ha, you're right. Fixed it. Thanks!

[2015-04-20 06:40] phongnh commented on #204
Thank you.

[2015-04-20 07:23] junegunn commented on #204
I'm sorry, but I'll have to revert the previous commit, as it makes `fzf-tmux` doesn't run on Vim. I'll look into it later in the day.

[2015-04-20 07:34] phongnh commented on #204
Yes. I just realized that broken too. Now I sticked with 0.9.10 tag, this is the last commit fzf-tmux work in both vim and shell.

Thanks.

[2015-04-20 13:45] junegunn commented on #204
Could you test again? I've confirmed that the above commit fixes the problem when fish is the default shell (at least on OS X).

[2015-04-20 14:58] phongnh commented on #204
It works like a charm. Thank you.

[2015-04-20 14:58] #204 closed

[2015-04-20 17:15] atn34 opened #205 "[neovim] Strange behavior running FZF from a terminal in normal mode."
To reproduce:
[code]
The buffer containing the selected file disappears.

[code]
[code]

[2015-04-20 17:50] adambiggs opened #206 "[neovim] :FZF sometimes fails to open certain files"
Sometimes when I `:FZF`, select a file, and then press `<Enter>`, NeoVim becomes unresponsive.

When this happens, pressing `<Enter>` a couple more times brings up the following:

[code]

Interestingly, opening the same file in a split (via `<C-v>`) seems to work, although nothing happens until I press `<Enter>` one extra time... i.e. `<C-v>` *nothing happens* `<Enter>` *buffer opens as expected*.

[2015-04-20 20:49] adambiggs opened #207 "[neovim] invoking :FZF sometimes causes fatal crash"
Using the latest fzf and NeoVim, sometimes `:FZF` causes NeoVim to crash with the following error:

[code]

Happy to provide more info if you have any debugging steps you'd like me to follow.

[2015-04-20 21:56] justinmk commented on #207
segfaults in nvim are always a bug in nvim. If you could provide a stacktrace to the Neovim issue tracker, it's often straightforward to fix.

https://github.com/neovim/neovim/wiki/Development-tips#core-dumps

[2015-04-20 23:57] junegunn commented on #205
Sounds like a neovim issue. Is the problem similar to the one described here?
https://github.com/junegunn/fzf/issues/137#issuecomment-91604555
People have noticed some glitches in neovim terminal when using it with fzf and we'll have to wait until it becomes more stable.

[2015-04-21 00:09] junegunn commented on #206
Thanks. This also looks like a neovim issue. /cc @tarruda

[2015-04-21 00:20] atn34 commented on #205
Yup looks similar, especially the 'If I press any key in this state, the
tab will close' bit, (but in my case it's a buffer). Waiting until neovim's
terminal feature is more stable sounds good to me.

On Mon, Apr 20, 2015 at 4:57 PM, Junegunn Choi <notifications@github.com>
wrote:

[2015-04-21 02:03] tarruda commented on #206
@junegunn can you assign this and any other neovim-related issues to me?

[2015-04-21 02:44] junegunn commented on #206
@tarruda Okay, I'll (temporarily?) add you as a collaborator. Just a second.

[2015-04-21 03:44] tarruda commented on #206
Thank you, I find easier to keep track of issues if they are assigned to me. I will address them ASAP.

[2015-04-21 06:10] adambiggs commented on #206
Thanks once again @tarruda!

[2015-04-21 09:16] edi9999 opened #208 "Smart case seems to be for the whole query instead of separately for each words"
If my list is:

[code]

then the query `'foo 'Bar` will not match, but I would expect it to match (because I see the first word `foo` as being case insensitive).

I think that it would probably require lots of work to do it, so I don't think the issue will be adressed, but maybe It's not that difficult.

[2015-04-21 10:12] junegunn commented on #208
Well, that makes perfect sense. It's actually one of things that I forgot to address when I rewrote fzf in Go :)

[2015-04-21 13:07] junegunn opened #209 "Invalid mutation of input string"
[code]
- Backspace
- D

[2015-04-21 13:10] #209 closed

[2015-04-21 13:18] #208 closed

[2015-04-21 14:38] junegunn commented on #208
Fixed in master. I'll release fzf 0.9.11 after a couple more fixes/improvements.

[2015-04-21 14:51] #202 closed

[2015-04-21 14:51] junegunn commented on #202
Added `--inline-info` option, will be released with 0.9.11.

[2015-04-21 14:59] junegunn commented on #202
[code]

[2015-04-21 15:54] edi9999 commented on #208
Awesome. Thanks

[2015-04-21 16:00] junegunn commented on #203
I applied fzf-tmux to CTRL-R and ALT-C, so that all three key bindings now use tmux pane when available. I didn't try to add FZF_XXX_TMUX / FZF_XXX_TMUX_HEIGHT pairs for each one of them as it introduces too many configuration knobs.

[2015-04-21 16:00] megalithic commented on #203
Thanks tons June, i'll give it a try here shortly.

[2015-04-21 16:46] #203 closed

[2015-04-21 16:47] #199 closed

[2015-04-21 17:22] noahfrederick commented on #202
@junegunn
Just chiming in to say I like the new `--inline-info` UI a lot.

[2015-04-21 17:29] jebaum commented on #202
agreed, @junegunn has an impressive history of listening to suggestions and improving them. great work as always

[2015-04-21 20:18] adambiggs commented on #207
Hmm, so far I can't seem to reproduce this anymore... I'll report back if it shows up again.

[2015-04-21 22:56] adambiggs commented on #207
I just ran into this again. Seems like it happened when I invoked `:FZF` and then quickly started typing search terms. Here's the backtrace I got from the core dump:

[code]

[2015-04-22 02:49] junegunn commented on #202
Thanks, I wasn't perfectly sure if it looks okay (colors, separator, ...), but glad to hear that you like it.

[2015-04-22 05:33] #169 closed

[2015-04-22 05:35] junegunn commented on #169
For some reason, fish buffers the entire list when the a function is used as the input:

[code]

I was able to remove the buffering delay by inlining the subroutines.

[2015-04-22 06:05] vysakh0 opened #210 "$FZF_DEFAULT_COMMAND not working but "ag -l -g "" | fzf" works"
I have few files ignored in `.agignore`. These files are correctly ignored when I run `ag -l -g "" | fz`.

But this does not work when I run `Ctrl-T`. I checked
[code]

ag --v: ag version 0.15pre
fzf --version: 0.9.10

(In this gif, I'm searching for tmp directory which does not appear as expected first time but not when run with Ctrl-T)

![ezgif com-video-to-gif 1](https://cloud.githubusercontent

[2015-04-22 07:16] junegunn commented on #210
This is essentially the same question as #40 and I haven't decided how it should be handled. `CTRL-T` does not see `FZF_DEFAULT_COMMAND` and as you can see in my comments in the issue, I'm not sure if it should. (If you use `ag` for `CTRL-T`, it will not list directories) So currently there's no way to customize the behaviors of the key bindings and you'll have to write your own version based on t

[2015-04-22 07:16] #210 closed

[2015-04-22 16:37] shkm commented on #206
Something similar seems to be happening to me, but I don't see any errors in `:messages`, making it a little hard to debug.

[2015-04-22 18:09] cdosborn opened #211 "fzf alias ignored in tab completion"
I have the following alias `fzf='fzf --no-color'`.

When I run `$ fzf` no problems. However, when i try `$ ssh**<Tab>` I get colored results (my alias is ignored). I'm looking through `fzf/shell/completion.bash` to figure out what might be the cause. I thought I might be able to get a faster answer here.

**Note:** I edited my config so that a different file other than my ~/.bashrc would be source

[2015-04-22 18:28] cdosborn commented on #211
I realized I didn't read far enough into the instructions.
`export FZF_COMPLETION_OPTS='--no-color'` worked for me.

Would the project be interested in a pull request, s.t. these settings only have to be defined in one place? Right now an alias has to be set for fzf, along with the env. vars.

[2015-04-22 18:41] lydell opened #212 "A g:fzf_launcher possibly resulting in a more nicely-looking window"
The following comes from my .vimrc and it works well for me. Note that I had never used xterm before installing fzf—I even didn’t know that it was installed on my system! So there is a risk that the following might conflict with a user’s xterm configuration. I don’t know.

[code]

- Sets the title to “fzf” instead of “bash”.
- Uses the same background and foreground colors as your vim theme. (Defa

[2015-04-22 18:48] noahfrederick commented on #211
You don't need an alias to provide default options. That's what `FZF_COMPLETION_OPTS` is for—unless I've misunderstood your use case.

[2015-04-22 20:59] cdosborn commented on #211
If I don't set the alias, then `$ fzf`ignores `FZF_COMPLETION_OPTS`.

[2015-04-22 21:07] noahfrederick commented on #211
I confused `FZF_COMPLETION_OPTS` with `FZF_DEFAULT_OPTS`. The latter is what I was thinking of.

[2015-04-22 21:09] cdosborn commented on #211
Okay, thanks.

[2015-04-22 23:45] talexand commented on #169
Tested working on my side also. Thanks.

[2015-04-23 00:11] junegunn commented on #211
`FZF_DEFAULT_OPTS` is built in to the binary (you can see it on `--help`) and applied regardless of the context. `FZF_COMPLETION_OPTS` is an extra set of options that is applied *in addition to* `FZF_DEFAULT_OPTS` for those who want to use different options just during bash completion.

[2015-04-23 00:11] #211 closed

[2015-04-23 03:43] junegunn commented on #212
Thanks, that looks pretty cool. Actually since I'm always on terminal, I haven't been able to pay enough attention to this "launcher" thing.

I tried your solution on MacVim and noticed that I had to change it a little to extract the right font size as on MacVim `getfontname()` returns something like `Menlo Regular:h11`. So I had to split it with `[: ]` and strip `h` from the last part. And even w

[2015-04-23 04:38] unphased commented on #153
Can I put even more fields to the -n option? like `-n2..,4..,..`

I have a special history logger for my z shell and it stores many fields (timestamp, command, working dir of command, terminal environment name (whether i'm on my mac or putty, in the VM, over SSH, inside tmux), which of /dev/ttyX) so i figured it would be neat if I could have it let me use those anchors like `^git` and `^Thu Apr 23

[2015-04-23 04:43] unphased commented on #150
This is amazing, could you comment on how I could get this working?

[2015-04-23 04:49] junegunn commented on #153
Yes you can, there's no limit to the number of field expressions.
But the search will be proportionally slow.

[2015-04-23 04:52] junegunn commented on #150
The most recent version of `fshow` can be found [here](https://github.com/junegunn/dotfiles/blob/c6959cd4f/bashrc#L283-L303).

Just put it in your .bashrc/.zshrc and type in `fshow` in a git repository.

[2015-04-23 05:04] unphased commented on #152
I upgraded fzf on OSX (which means my $TERM override got blown away) which brought back the intermittent tmux freezing issue. it always comes back but it might freeze for 4 seconds before the tmux pane becomes responsive again. It isn't tmux itself freezing. It's definitely the longest delay when I use the Alt+C (for fzf-chdir'ing).

Using top/htop/activity monitor didn't lead anywhere, it's not C

[2015-04-23 05:08] junegunn commented on #152
I don't think TERM is the reason of the delay. By the way, you have to use `screen` or `screen-256color` on tmux. Always, not just for fzf.

Excerpt from: http://tmux.cvs.sourceforge.net/viewvc/tmux/tmux/FAQ

[code]

[2015-04-23 05:14] unphased commented on #152
Okay, I'll deal with that, but yes i dont believe that is related to this issue.

Dug a little more, with `pstree`:

During fzf Alt+C run:
[code]

Seems fine.

After, to see what the hell is running inside the same terminal, which is 79934:

[code]

Ok that is pretty screwed up. Something being run by git (which is run by zsh for the RPROMPT prompt on the right side of my zsh shell)

[2015-04-23 08:30] mikker opened #213 "Errors when opening a file that has an existing swap file"
Regular vim gives me this, then opens the file but the view is all messed up.

[code]

Neovim on the other hand explodes

![](http://s3.brnbw.com/Screen-Shot-2015-04-23-10-23-56.png)

[2015-04-23 09:17] schmooser commented on #206
I'm observing this as well. Usually on second attempt it works. I failed to reproduce this behaviour intentionally so I didn't raise an issue.

[2015-04-23 10:34] junegunn commented on #213
The above two commits should fix the issues on Vim. I couldn't, however, reproduce the issue on Neovim in the first place, so I'm not sure if it helps or not. Could you update and try again?

[2015-04-23 11:25] mikker commented on #213
Whatever it was it seems resolved in both vim and neovim. You're the best :pray:

[2015-04-23 11:25] #213 closed

[2015-04-23 13:07] chrisbra opened #214 "[zsh] <Ctrl-R> not working"
Hi, I have `setopt no_bang_hist` in zsh and when I use the <Ctrl-R> command key, fzf tries to use the !expansion form, which obviously does not work.

[2015-04-23 13:11] junegunn commented on #214
Do you think it's possible to temporarily change "no_bang_hist"? Is there an easy solution? I'm a bash user and have no clue.

[2015-04-23 13:24] chrisbra commented on #214
That would be fine for me.

[2015-04-23 13:28] junegunn commented on #214
[code]

This seems to work.

[2015-04-23 13:31] #214 closed

[2015-04-23 13:31] chrisbra commented on #214
Great and so fast!

[2015-04-23 13:31] junegunn commented on #214
Okay, I just pushed a fix. Let me know if you see any issues. Thanks!

[2015-04-23 13:34] junegunn commented on #212
You can use `g:Fzf_launcher` now.

[2015-04-23 18:33] lydell commented on #212
`:help getfontname()` says that the function in question returns the font used by the `hl-Normal` highlighting group. `:help highlight-font` tells that this is platform dependent and that it is potentially very difficult to parse on X11.

Moreover, it seems like as long as I include `-fa "$x"` where `$x` is anything but the empty string, the system default monospace font is used, which is also the

[2015-04-24 00:57] noahfrederick opened #215 "fzf-tmux hangs when FZF_DEFAULT_OPTS is set"
On OS X in fish and bash, invoking fzf-tmux directly or through other commands/shell key bindings results in the following:

- An empty tmux pane appears momentarily and then disappears
- The shell does not accept any input until fzf-tmux is killed with `C-c`.

*This only happens when `FZF_DEFAULT_OPTS` is set (to anything).* To reproduce in fish:

    $ set -x FZF_DEFAULT_OPTS --reverse
    $ fzf

[2015-04-24 03:12] junegunn commented on #215
Can't reproduce. Can you check what's going on by replacing the she-bang line to `#!/bin/bash -x`?

[2015-04-24 03:45] noahfrederick commented on #215
Here's the output up until it gets stuck:

[code]

I think I see the (fish-specific) problem. In the argument to `split-window`: `FZF_DEFAULT_OPTS=--reverse bash /tmp/fzf-args-9528` is not valid fish syntax. It could be changed to `env FZF_DEFAULT_OPTS=--reverse bash /tmp/fzf-args-9528`.

I was mistakenly under the impression that I tried the script under bash, but I was presumably still getting a

[2015-04-24 03:48] junegunn commented on #212
I updated the default launcher as you proposed. Thanks!

[2015-04-24 03:48] #212 closed

[2015-04-24 03:53] junegunn commented on #215
Oh I see. Then we can simply prepend `env` as it works on other shells as well.

[2015-04-24 03:55] #215 closed

[2015-04-24 03:56] junegunn commented on #215
Updated. Let me know if you still see the problem.

[2015-04-24 03:58] noahfrederick commented on #215
Yeah, confirmed this fixes it for me.

[2015-04-25 09:53] Tranquility opened #216 "[neovim] resize split according to number of options"
You said in this https://github.com/junegunn/fzf/issues/137#issuecomment-91735586 it might be possible to write an autocmd. I would try to implement this but have no idea how the autocmd could work.

[2015-04-25 14:48] junegunn commented on #216
This is what I've tried:

[code]

- It looks like there's no autocmd fired when the content of the terminal buffer is updated (none of TextChanged, TextChangedI, CursorMoved, CursorMovedI, InsertCharPre works), so I tried with `on_stdout` callback of `termopen()`. I noticed that no data is passed to the callback (`a:000` is an empty array). Is this normal?
- The layout of fzf can differ depending

[2015-04-25 15:59] Tranquility commented on #216
Thanks for working on this! I applied the patch, but the cmd_onchange function never gets executed.

[2015-04-25 16:03] jason0x43 commented on #205
I've been having the same problem for the last week, which also seems to be related to #206. I noticed that opening in a new tab or split seems to always work, while opening in the current window will sometimes show the file and then drop it when a key is pressed, or will show `ml_get` error messages.

My temporary fix has been to use a sink that opens the file or buffer in a new split and then ma

[2015-04-25 17:19] jason0x43 commented on #205
Of course, my suggestion above would need some modification if you generally work with multiple splits, but I don't.

[2015-04-25 17:22] jason0x43 commented on #205
This is a bit more split-friendly:

    function! s:editfile(filename)
        execute "split " . a:filename
        wincmd p
        wincmd q
    endfunction

[2015-04-25 20:38] Tranquility commented on #203
The change broke CTRL-R for me. After using it a few times it stops working. When I hit ENTER the prompt is still empty and it no longer gets the text.

After restarting the terminal it works a few times but the problem always comes back.

I am using zsh. Do you need any other information to find the bug?

[2015-04-26 00:28] junegunn commented on #203
@Tranquility Can't reproduce. So you mean that tmux split correctly appears and you can select an item there, but the selected one does not update command line, right? And how many is "a few times"?  Did you try re-sourcing `~/.fzf.zsh` when that happens?

[2015-04-26 13:16] Tranquility commented on #203
Exactly!

I can't reproduce it reliably. Sometime it's two sometimes it's twenty. Sometimes it starts to work again after a few times. Sometimes it doesn't (or maybe I did not try enough times).

Yes, I doesn't help.

I changed the fzfcmd to back from fzf-tmux to fzf for now.

[2015-04-26 13:26] junegunn commented on #203
@Tranquility I can't reproduce no matter how many times I try. I'm a bash user and there's nothing in my .zshrc. Maybe fzf conflicts with other parts of your zsh config.

[2015-04-27 14:39] D630 opened #217 "Option to invert the selection in --multi?"
Hi,

How about an option to invert the selection, when using fzf with `--multi` interactively?

[code]

Otherwise one need to workaround it with something like:

[code]

[2015-04-27 16:07] junegunn commented on #217
Like `-v` option of grep? (which should apply even when `--no-multi`)

[2015-04-27 16:44] D630 commented on #217
Ja, that would be great! And it could be indicated with a less-than sign (<)...

[2015-04-28 11:57] ezuk opened #218 "Making Alt-c begin at ~ rather than current dir?"
Hi there,

Trying to [customize this](https://github.com/junegunn/fzf/blob/master/shell/key-bindings.fish#L35) so that Alt-c starts searching through directories relative to ~ rather than the current directory. Not quite sure how to go about it though...

Any advice? Thank you!

[2015-04-28 14:39] Linuus opened #220 "Error when updating fzf in vim"
Hi!

I just updated fzf from vim, using vim-plug and got this error:
[code]

Is this a known issue?

[2015-04-28 14:49] junegunn commented on #220
Ah, yes, the type of the variable was recently changed. vim-plug reloads the plugin file after update, and in your case the variable was already defined as another type in the session, thus the error. It's a one-time error. But I'll make sure that the other users will not run into it. Thanks.

[2015-04-28 14:50] #220 closed

[2015-04-28 14:51] Linuus commented on #220
Cool, thanks!

[2015-04-29 14:01] junegunn commented on #218
Start from replacing `find .` with `find ~`, the rest is basic shell scripting.

[2015-04-29 14:01] #218 closed

[2015-04-29 14:19] junegunn commented on #217
I've given some thought about it but realized that it's not as trivial as I first imagined and considering the added complexity I think I'm gonna pass on this.
- Given the asynchronous nature of fzf interface. We can finish fzf well before the input stream is complete. (e.g. `locate / | fzf`) The additional code for waiting for its completion is required.
- And then how should the result be sorted

[2015-04-29 14:19] #217 closed

[2015-04-29 17:52] D630 commented on #217
Ok. Thanks

[2015-05-01 08:39] edi9999 commented on #206
Same issue for me

E315: ml_get: invalid lnum: 58
E315: ml_get: invalid lnum: 58
E315: ml_get: invalid lnum: 58
E315: ml_get: invalid lnum: 58
E315: ml_get: invalid lnum: 58
E315: ml_get: invalid lnum: 58
E315: ml_get: invalid lnum: 58
E315: ml_get: invalid lnum: 58
E315: ml_get: invalid lnum: 58

[2015-05-01 20:50] cHoco commented on #206
I have the same issue, but I don't get any errors only  ```[Program exited, press any key to close]```
after selecting the file I want to edit. Also it happens for every file for me, making fzf unusable for me in neovim :( Strangely if I select the file with CTRL-V it works as expected

[2015-05-02 05:06] kennethlee commented on #206
@tarruda I'm having issues similar to @cHoco as well.

If I search for and select a file while I already have another file open in the current buffer, I get `[Program exited, press any key to close]`. However, if the current buffer is empty, :FZF works as expected.

[2015-05-02 06:40] aliev opened #221 "fzf and neovim issue"
when I try to open a second file the buffer is closed

video: https://dl.dropboxusercontent.com/u/5837324/fzf-neovim-issue.mov

[2015-05-02 09:50] alerque commented on #221
Similar problem here, but it's not _every_ second file. It's only happens about 1/2 the time, and I can't figure out what the conditions are. Once it fails it fails for the same file all the time. Quite often if I try opening in a tab instead of a split it will open. When that fails if I start a new buffer with `:tabnew` before running FZF it and it will open in that fine. Once it does open I can

[2015-05-02 10:01] alerque commented on #221
This looks like a duplicate of #206.

[2015-05-02 10:04] alerque commented on #206
Having the some issue here, but unlike @kennethlee my case isn't quite as cut and dry. It works in an empty buffer, but _sometimes_ works even if the buffer has a file open and as @adambiggs noted _sometimes_ will be fixed by requesting a split or tab, but not always. It is only consistent as long as I keep trying to open the same file, but as soon as I open it in a clean buffer and close it, I ca

[2015-05-02 13:54] aliev commented on #221
@alerque

sorry. I see the following kind error

[Program exited, press any key to close]

[2015-05-02 15:07] junegunn commented on #221
Thanks for the report. But now we know that the terminal feature of Neovim is unstable at the moment and fails in some different ways, so there's no need to create more issues. Closing as duplicate.

[2015-05-02 15:07] #221 closed

[2015-05-02 15:11] hakonhagland opened #222 "Automatically insert newline in bash command line completion"
Is it possible to insert an enter key stroke after fzf returns with a single candidate in bash completion?
I am thinking about the case where the completed word is the last word on a command line, such that the next ting the user will do is to accept and execute the command by pressing enter.

Usually in bash completion when you press tab and there is only a single candidate, it will insert the ca

[2015-05-02 15:27] junegunn commented on #222
Hmm, I don't think the behavior is generally desirable. Take this for example: you want to copy/move several files from different directories to some destination path.
- `mv ~/aaa/**<TAB>`
- `mv ~/aaa/foo/bar/baz ~/bbb/**<TAB>`
- `mv ~/aaa/foo/bar/baz ~/bbb/hello/world`
- `mv ~/aaa/foo/bar/baz ~/bbb/hello/world ~/trash<Enter>`
It's simply not possible to tell if the completed word will be the last

[2015-05-02 15:54] hakonhagland commented on #222
Yes I agree that in the general case it not possible and not desirable. But if we consider specific cases, for example if I make my own command and would try to use fzf for command line completion. Then I would have full controll over what is the expected arguments, and whether the completed word will be the last one, when I am calling fzf..

So we are looking for a way to feed an enter key into B

[2015-05-02 16:02] junegunn commented on #222
Yes, and maybe we could apply `--expect` option to take another key to tell bash to feed an extra enter key. (if that's possible)

[2015-05-02 20:46] hakonhagland commented on #222
seems like running
[code]
after fzf returns, is working.. I will do some more testing.

[2015-05-03 16:47] D630 opened #223 "Emacs style keybindings"
Could somebody please list all accessible keybindings in `fzf` and give an overview of their mappings?

[2015-05-03 16:48] D630 opened #224 "Option to place the cursor"
I would love an option to have the cursor under control at the start of `fzf`. Something like: Move the cursor to index/line number x; move cursor to the top or the bottom. Perhaps this is possible via the Emacs style keybindings, in which case it could be something like `--execute-key-at-start=`.

[2015-05-03 17:00] junegunn commented on #223
https://github.com/junegunn/fzf/blob/master/src/terminal.go#L612-L740

Most of the emacs style keybindings I use are implemented in fzf, although CTRL-J and CTRL-K are shadowed by up and down motion. Do you see anything missing?

[2015-05-03 17:04] junegunn commented on #224
Yeah, I also considered this, but the problem is that fzf interface is asynchronous. Let's suppose you want to start fzf with its (vertical) cursor on the 10th item, but fzf reads the input stream asynchronously, so it's possible that there aren't 10 items when fzf is started.

[code]

Maybe we could reduce the complexity by implicitly applying `--sync` option when this is used.

[2015-05-03 17:37] junegunn commented on #224
And this will naturally lead to another options like `--print-line-number`, `--start-at-index`, or `--start-at-string`, etc. I know you need these stuff for building fzf-fs, which is by far the most sophisticated project based on fzf, and I think it's awesome and very creative, but we can't expand the features of fzf endlessly and should draw the line at some point. Maybe what you're trying to acc

[2015-05-03 20:57] D630 commented on #224
Ok,  I see. And yes, it seems to be a bottomless pit...

[2015-05-03 20:57] #224 closed

[2015-05-03 20:59] D630 commented on #223
Ah, ok.

I have identified these ones:

| Key | Function |expect |
| ------------- | ------------- | ------------- |
| AltB | backward-word (r) | alt-b |
| AltF | forward-word (r) | alt-f |
| BTab | if multi: toggle, up-line | ? |
| CtrlA | beginning-of-line (r) | ctrl-a |
| CtrlB | backward-char (r) | ctrl-b |
| CtrlC | quit | ctrl-c |
| CtrlD | delete-char (r) && end-of-file (r)/quit | ctrl-d |

[2015-05-03 21:01] D630 commented on #223
And the kill ring has only one index, I guess

[2015-05-04 04:20] junegunn commented on #223
Thanks for the summary.

| Key | Function |
| --- | --- |
| AltD | kill-word |
| AltBS | backward-kill-word |
| CtrlH | backward-delete-char (equivalent to BS) |

("Rune" in the switch statement is not the name of a key but denoting a normal character)

As you have noticed, currently not all keys can be used with `--expect` option. Maybe I'll try to cover more on the next release.

Correct. I thou

[2015-05-04 17:50] justinforce commented on #206
I'm experiencing this, too. I find that opening in a split works, but hitting Enter will actually sometimes result in inserting `[Program exited, press any key to close]` in the file around the 3rd line, then **truncating the file!** >_< Just one more reason to love git. :)

[2015-05-04 23:03] cHoco opened #225 "[neovim] FZF and startify not working"
FZF seems to have some problem if started from startify windows. In particular the split opened by FZF doesn't close when selecting a file and the opened closes as soon as I type something.
Here's simple nvimrc to reproduce

[code]

### Steps:
1. open nvim without argument
2. in startify window call fzf ```:FZF```
3. select a file to open and press enter
4. fzf split isn't closed and file split cl

[2015-05-07 19:30] tiziano88 opened #227 "Implement zsh autocompletion"
Similar to https://github.com/junegunn/fzf/blob/master/shell/completion.bash ... but for zsh!

[2015-05-08 04:57] Randuin commented on #205
Is there a way to not run FZF through :terminal?

[2015-05-08 06:53] lucianf opened #228 "Hosts completion: ignore null hosts"
I think it would be good to configure the hosts completion (telnet/ssh) to ignore null hosts (`0.0.0.0`) from `/etc/hosts`, in case people are using them for ad blocking.  I can't see any reason why anyone would use this for anything else and would want them to work in a tool like `fzf`.

Obviously this doesn't apply to `127.0.0.1` since that one actually has lots of valid business cases :)

Sorry

[2015-05-08 09:17] #228 closed

[2015-05-08 09:17] junegunn commented on #228
Thanks for the suggestion.

[2015-05-08 09:26] junegunn commented on #205
@Randuin No. fzf (or any other interactive programs) doesn't work correctly on Neovim without `:terminal`, so it doesn't really make sense to allow it. See #137.

[2015-05-08 13:20] D630 commented on #223
Ok. cool

[2015-05-09 11:25] junegunn commented on #227
So, it's done. I'm not a zsh user and I don't know much about it. I only tested these with vanilla zsh. Let me know if you see any issues.

[2015-05-09 11:25] #227 closed

[2015-05-09 12:05] tiziano88 commented on #227
Wow that's awesome, I didn't expect you to implement it this quickly! I was actually going to do it myself (I should probably have mentioned that in my original message), but at this point I'll take a look at your version and possibly contribute to it. Thanks a lot!

[2015-05-09 12:12] junegunn commented on #227
I pushed a few more commits after closing the issue. Please make sure that you have the latest revision. Thanks!

[2015-05-09 13:48] tiziano88 commented on #227
I can't seem to be able to use it yet, as ** expands to recursive file glob in my configuration, which I also thought is the default (see http://zsh.sourceforge.net/Doc/Release/Expansion.html#Recursive-Globbing ). I'll see if there is a way of disabling that (as I would much prefer trigger fzf rather than recursive globbing in general.

[2015-05-09 13:50] tiziano88 commented on #227
Never mind, found the culprit! I had `setopt extended_glob` in my .zshrc, removing that also disabled recursive globbing with **.

[2015-05-09 13:53] junegunn commented on #227
Hmm, did it fix the problem? It doesn't seem to matter on my zsh. By the way, did you re-run the install script? Previously `~/.fzf.zsh` was generated with no auto-completion support.

[2015-05-09 13:56] tiziano88 commented on #227
I was sourcing `completion.zsh` directly, so I guess re-running the install script is not needed. Anyway you are right, even re-enabling `extended_glob` now does not seem to break fzf any more, so they may not be actually interfering after all... Failing everything else, changing the completion trigger to something other than ** seems to solve the issue in any case.

[2015-05-09 13:59] junegunn commented on #227
Interesting, could you post the output of `setopt`? I'd like to compare it with mine.

[2015-05-09 15:29] tiziano88 commented on #227
Sure, here it is:

[code]

To clarify: it seems that the state of `extendedglob` does not actually affect fzf autocompletion; although I guess the interaction may be subtler than just enabling or disabling the option -- for instance it may only happen when  `extendedglob` is enabled before or after sourcing `completion.zsh`. I'll try some more combinations and report here if I find out anything us

[2015-05-09 16:39] junegunn commented on #227
Looks like `setopt vi` is the cause of the problem. It resets CTRL-I (tab) binding.

[code]

So if you source completion.zsh *after* `setopt vi`, it'll work fine. But it would be better if we could find a more robust way to handle this.

[2015-05-09 16:46] junegunn commented on #227
FYI, vi-mode of bash also has a similar problem.
https://github.com/junegunn/fzf#key-bindings-for-command-line

[2015-05-09 17:25] junegunn opened #230 "[zsh-completion] Known issues"
Bugs:
- [x] `~USERNAME**<TAB>`
- [x] `~INVALID_USERNAME**<TAB>`
    - nonomatch
- [x] Fall back to default completion
    - Need to see what is currently mapped to `^I`. it may not be `expand-or-complete`
    - `bindkey '^I' | awk '{print $2}'`
- [x] `foo\ bar**<TAB>`
- [x] `setopt vi` resets TAB binding from fzf
    - I can't think of any way to handle this. We'll just have to tell the users abou

[2015-05-10 23:16] tiziano88 commented on #230
Thanks for all this @junegunn ! Also I think we should add support for configuring a different bound key and having no trigger at all. Specifically, the use case I'd like to support is: start writing a path name, use tab completion as usual up to a certain point, and then use a different shortcut (e.g. <kbd>CTRL</kbd>+<kbd>P</kbd>) to trigger fzf from that point on (without ever typing a specific

[2015-05-11 10:07] edi9999 commented on #197
Hey @junegunn && @tarruda ,

after upgrading to the latest version of fzf on my second computer (which was not affected by this bug for now), I encountered the same issue again.

I suspect the issue comes from fzf rather than neovim, because both had the latest version of neovim, but different versions of fzf until today.

So after finding out that the version 0.9.7 worked well, I started a git bi

[2015-05-11 10:29] junegunn commented on #197
No, it's strictly Neovim's issue. What's crashing is the terminal emulator of Neovim, not fzf. It may be possible that some changes made in fzf somehow made its host more susceptible to crash, but that doesn't mean fzf is doing something wrong.

[2015-05-11 16:52] #230 closed

[2015-05-11 18:18] edi9999 commented on #197
Ok I think I understand it now : the new :terminal is not yet bug free so that's why that commit which uses it makes nvim crash.

[2015-05-12 15:34] edi9999 commented on #197
For those who are encountering the same issue, you can `fix` it by running :

    git checkout 68503d3 -- plugin/fzf.vim

68503d3 being the commit that introduces the new term usage

[2015-05-12 15:57] lazywei commented on #197
Personally, I don't think we should chekcout to use old version of fzf.vim. Also, as @junegunn said, this is not the issue in fzf but in neovim. The correctly way to solve this is waiting neovim for fixing the bug.
That being said, I found there is a way to by pass this .. you can just use `<C-v>` to open a splited window, and then close the other windows by `<C-w> o`.

[2015-05-13 05:37] Randuin commented on #205
So right now I am having an issue that I _think_ is represented by this issue but I think it requires a fix on the neovim side?

The steps to reproduce are
1. `:FZF`
2. Choose a file
3. `:vsp`
4. `:FZF`
5. Choose another file in the new split
6: The file opens but you still get `--TERMINAL--` at the bottom and if you do anything the file goes away

Is this the issue that I need to wait for neovim

[2015-05-13 10:13] #146 closed

[2015-05-13 13:57] babygau opened #234 "[MacVim] Cannot execute `fzf` in `MacVim`"
Hi @junegunn :night_with_stars: ,

I just run into this error today while trying to run `FZF` command on `MacVim`. Here is the error msg :dizzy_face:

Note that, Vim Terminal has no issue at all

[2015-05-13 14:29] junegunn commented on #234
1. Does this work on command line?

[code]

2. Can you check if it works when there's no other plugins and settings?

[code]

3. This is not relevant to your issue, but I just updated vim plugin so that MacVim window is refocused when fzf is closed. So, please update.

[2015-05-13 14:43] #223 closed

[2015-05-13 14:49] babygau commented on #234
Thanks @junegunn for your quick reply. My feedback as follows:

I don't understand what you mean here. If I run `fzf` on terminal, it works. If I run your mentioned script, it says `zsh: command not found: xterm`

It didn't work :disappointed:

With new update, the nagging error has gone, but the plugin is defective. There no pop-up windows for `FZF`

[2015-05-13 14:54] junegunn commented on #234
Well, that's the reason. You need to install http://xquartz.macosforge.org/landing/

The update wasn't meant to fix your problem. I just wanted to let you know of it.

[2015-05-13 15:03] babygau commented on #225
@cHoco,

I suffered from the same issue. `fzf` default `enter` seems to act weird not only with `startify` plugin but with `fzf` itself in `neovim`. My only possibble workaround is to minimize the accident of typing `enter` out of habit by forcing `enter` to open new tab instead of new buffer windows.

[code]

Hope this help

[2015-05-13 15:15] babygau commented on #234
Your suggestion is spot on. I can run `fzf` on `MacVim` now :+1:

Yeah, I also just wanted to let you know anyway :grinning:

Many thanks @junegunn, cheers :100:

[2015-05-13 15:15] #234 closed

[2015-05-13 15:17] junegunn commented on #234
Great. Maybe I'll have to mention this requirement somewhere. Thanks.

[2015-05-13 15:18] babygau commented on #234
Thank you too :smile:

[2015-05-13 15:28] babygau commented on #234
@junegunn
This could not be an issue, but is there anyway to change cursor background in `fzf`, currently the cursor background is `white` and it looks like a `block cursor`. I just want to turn off cursor highlight so it will look like a `single line cursor`.

[2015-05-13 15:37] junegunn commented on #234
I don't know. fzf is an ncurses program and I haven't checked if it's possible to customize cursor display on ncurses.

[2015-05-13 16:11] babygau commented on #234
Thanks @junegunn,

I found a way to fix it

[code]

And the background disappeared though I lost the vertical bar cursor.

[2015-05-13 16:59] junegunn commented on #205
Yup.

[2015-05-13 17:20] junegunn commented on #225
I didn't pay attention to this issue at first as I thought it was also caused by a bug of Neovim but it wasn't. Please update and let me know if it doesn't work as expected.

[2015-05-13 17:20] #225 closed

[2015-05-13 17:23] junegunn commented on #205
Hey guys, could you update the vim plugin and test if it's improved? I simply [added a `redraw!`](https://github.com/junegunn/fzf/blob/master/plugin/fzf.vim#L296) and it seems to help a lot.

[2015-05-13 17:38] justinmk commented on #205
It helped, but there's still some cases where it closes the result window erronoeously.

[2015-05-13 17:50] cHoco commented on #225
Now it almost works! The only difference left now is in vim after opening a file che Startify buffer is closed, instead in neovim the startify buffer is closed but replaced by an empty buffer.

[2015-05-14 04:31] junegunn commented on #225
@cHoco Hmm, can you update and try it again?

[2015-05-14 04:36] Randuin commented on #205
Seems to fix it for all my usage! Will report back if I run into anything else

[2015-05-14 05:17] cdosborn opened #235 "Interactive filter"
This is a feature request. I'd like to have an interactive filter. It would return the current listing on return. Love the tool.

[2015-05-14 05:24] cdosborn commented on #235
I didn't see the multi-select feature

[2015-05-14 05:24] #235 closed

[2015-05-14 06:31] babygau commented on #225
@junegunn

I just checked. The problem has been fixed. kudos @junegunn :tada:

Now there's only one nagging #206 left that causing misbehaving `default enter` key in `fzf`. Hope you and @tarruda could fix it one day :sparkles:

[2015-05-14 09:58] balta2ar commented on #227
After updating to 34e5e2d my zsh completion broke:

[code]

What additional info can I provide to track the problem?

[2015-05-14 10:45] tiziano88 opened #236 "[zsh] cursor moves to column zero after exiting fzf with ^C"
To reproduce:
 - type `vim `
 - trigger fzf expansion (I have this mapped to <kbd>Ctrl</kbd>+<kbd>P</kbd>)
 - hit <kbd>Ctrl</kbd>+<kbd>C</kbd>
 - the cursor is now moved to the beginning of the line rather than after the text entered earlier

[2015-05-14 13:48] junegunn commented on #227
@balta2ar I have no experience with it. Have you tried swapping the load order of the two?

[2015-05-14 13:50] junegunn commented on #236
Hmm, not reproducible for me.

[2015-05-14 20:10] edi9999 commented on #197
Using C-v + C-w o seems a bit complicated, so I'm sticking with the old vim version for now, but will be happy to upgrade once the nvim bug has dissapeared

[2015-05-15 01:30] junegunn commented on #197
@edi9999 @lazywei Try updating the vim plugin to the latest and see if it helps. I added a `redraw!` hoping that it would help avoid some race conditions and it does seem to help. It probably [isn't a perfect solution](https://github.com/junegunn/fzf/issues/205#issuecomment-101755075) to the problem, but I haven't run into an issue yet and feels pretty usable.

[2015-05-15 03:34] lazywei commented on #197
it works like a charm!! :+1:

[2015-05-15 10:16] edi9999 commented on #197
It solves most of the problems for me, however, if I start neovim in a folder, than run fzf, the file will not open.

Eg:

[code]

I'm using NerdTree but I don't think it has any impact

[2015-05-15 10:19] balta2ar commented on #227
@junegunn Hm, unexpectedly, putting `source ~/.fzf.zsh` after autosuggestions seems to have solved the problem. I'd give it a longer try, though, before concluding it works 100%.

[2015-05-15 11:47] balta2ar commented on #227
Okay, a problem found. Autosuggestions show the rest of the line in gray, but to turn suggestion into flesh you have options: I usually use Alt-f, Right arrow or Tab. The latter one is the one which does show that error message.

[2015-05-15 13:43] junegunn commented on #227
The zsh completion of fzf binds tab key to its completion widget which falls back to the previous widget that was mapped to TAB key. Probably the autosuggest plugin was not written to be compatible with such behavior. Can you look into the issue? I'm not a zsh user and I don't feel like looking into a zsh plugin that I'll never use. Or you can just disable fzf completion (say no to the install scr

[2015-05-15 13:43] junegunn commented on #227
@balta2ar The zsh completion of fzf binds tab key to its completion widget which falls back to the previous widget that was mapped to TAB key. Probably the autosuggest plugin was not written to be compatible with such behavior. Can you look into the issue? I'm not a zsh user and I don't feel like looking into a zsh plugin that I'll never use. Or you can just disable fzf completion (say no to the i

[2015-05-15 14:28] balta2ar commented on #227
@junegunn Thanks, I'll probably stick with disabling autocompletion for a while. Unfortunately, I have zero knowledge of how zsh plugins work, but I'll add problem investigation to my TODO list. Autosuggestions is a nice plugin but as it was mentioned many times in its issues, it requires someone with time and energy to fix all its problems.

Also, could you please expand that Wiki page to describ

[2015-05-15 14:38] junegunn commented on #227
@balta2ar What it does is described on the README page.
https://github.com/junegunn/fzf#fuzzy-completion-for-bash-and-zsh
You can disable it if you don't find it very useful, there's nothing wrong with that and I have no intention to persuade one to use it.

[2015-05-15 17:37] adambiggs commented on #207
@tarruda I just rebuild NeoVim today and I now get the above segfault every time I invoke `:FZF`... Unfortunately I might have to switch back to CtrlP or Unite for now :cry:

[2015-05-16 00:33] tarruda commented on #207
@adambiggs Can you provide a backtrace of the crashed program?

I know this is inconvenient and I'm doing my best to fix some infrastructure problems(neovim/neovim#2371) which I believe will make many parts of nvim more stable, including the builtin terminal emulator

[2015-05-16 00:58] junegunn commented on #207
@adambiggs And you're running the latest version of the plugin? I'm curious if the `redraw!` workaround affects the symptom.

[2015-05-16 10:09] alexeymuranov opened #237 "ctrl-r matches on history line number too"
Is there a reason someone would want to match the line number from history when using **fzf** with `ctrl-r`? Currently, if i use **fzf** with `ctrl-r` (in **zsh**) and type, for example, `123`, the returned list includes the item number 123 from the history, and may also include the item 12, or 192, containing `3`, etc. I wouldn't need them in the list, personally.

[2015-05-16 14:41] junegunn commented on #237
https://github.com/junegunn/fzf/blob/master/shell/key-bindings.zsh#L39

Changing `-n2..,..` to `-n2..` will do. There is no variable to customize the behavior so you'll have to edit the source directly or manage your own version. The reason it is so is that it's not practical to make every aspect of the code configurable so I want the users to see the code as a reference implementation that they c

[2015-05-16 14:41] #237 closed

[2015-05-16 18:13] alexeymuranov commented on #237
Thanks for the explanation.  However, IMO, a sensible default would be not to match the history line number.

[2015-05-16 18:32] junegunn commented on #237
Okay, but I actually type in the index number to pinpoint the item when there are many very similar entries in the list. I find it especially helpful when in `--extended` search mode, where I can first type in a part of the command, then append a number to greatly narrow down the list. e.g. `git 55`

[2015-05-17 18:58] acornejo opened #238 "fzf pageup/pagedown bindings"
any thoughts on adding pageup/pagedown bindings, perhaps with Ctrl-D/Ctrl-U as in vim?

this would be particularly useful to me when using fzf to page through ag results. Using the fuzzy completion I can easily/quickly narrow the results to get all matchines in a file.

However, it is sometimes the case that I still have a lot more results in a single file than I can fit in a single screen, and I

[2015-05-18 01:46] junegunn commented on #238
Yeah, I sometimes miss that too. But key bindings in fzf is designed to be readline-compatible and `ctrl-d` and `ctrl-u` conflict with `delete-char` and `unix-line-discard` respectively. Also some users might prefer `ctrl-b` and `ctrl-f` pair. So if we're going to do this, we'll have to provide an option to "rebind" any keys and that would require some work.

[2015-05-18 03:03] acornejo commented on #238
What syntax did you have un mind for rebinding?

Perhaps something like '--rebind ctrl-d=pageup'.

In addition to ctrl-? it would have to support alt-?  modifiers too, but what about ctrl-shift-? or other non typing keys like pause, esc, etc? Or even other modifier keys like cmd and super.

A basic version of the above with only ctrl-[a-z] and alt-[a-z] support seems feasible to do without too man

[2015-05-18 03:20] junegunn commented on #238
I haven't given enough thought about it yet. I was vaguely thinking about [naming every available action](https://github.com/junegunn/fzf/issues/223#issuecomment-98543849) like in the output of `bind -p` of bash (or `bindkey` from zsh), so it can be something like follows:

`--bindkey ctrl-a:beginning-of-line,ctrl-k:kill-line`

I'll limit the options to the ones allowed for `--expect`: `ctrl-[a-z]

[2015-05-18 03:27] acornejo commented on #238
Absolutely, I meant to exemplify a stringified action with the pageup in my example, although now i realize it could be interpreted as a key too.

Rebinding single typable characters (I.e. [a-z]) seems of very limited use since it interferes with typing/fuzzy-finding, but I guess there is no harm in letting users shoot themselves in the foot.

Are you interested in a pull-request for this feature

[2015-05-18 03:36] junegunn commented on #238
You in a hurry? I'd like to take some time and mull over the details of how it should be.

[2015-05-18 03:39] acornejo commented on #238
Nope, not at all. I just like fzf enough that I am happy to devote some time of my own to making a bit better. I'll wait for you to take a stab at it then. Thanks ;)

[2015-05-18 13:26] Linuus opened #239 "Open in splits when using fzf#run"
Hi!

I'm using `fzf#run` in my .vimrc because I want to have the tmux split at the top.
[code]

When using `:FZF` I can use `CTRL-V, CTRL-X` to open splits, but it does not work with `fzf#run`.

Can I get this functionality somehow? Can I pass the `up` option to `:FZF` instead?

[2015-05-18 13:40] noahfrederick commented on #239
No, you'll have to create your own `:FZF` command. You can refer to the [existing implementation](https://github.com/junegunn/fzf/blob/master/plugin/fzf.vim#L345-375)—there isn't much to it.

[2015-05-18 14:38] junegunn commented on #239
@noahfrederick Thanks.

@Linuus Yes, I want you to see `:FZF` just as an example implementation using `fzf#run()`. You'll have to write your own command. I know it can be frustrating if you don't know Vimscript well, but it'll pay off in the long run and give you the ultimate flexibility.

`:FZF` looks at a few global variables that we can omit here. So this will do the trick.

[code]

Hmm, but I

[2015-05-18 15:16] Linuus commented on #239
@noahfrederick @junegunn Thank you both! I just tried what @junegunn posted and it seems to work great. Yes, I'm not very good at vimscript but I agree this is more flexible :)

[2015-05-19 15:16] adambiggs commented on #207
@tarruda the backtrace looked the same as [the one I posted earlier](https://github.com/junegunn/fzf/issues/207#issuecomment-94966323).

@junegunn I was running the latest version of NeoVim & FZF when I posted.

Let me know if there's any other debugging steps that would be helpful.

[2015-05-19 20:39] pigmej commented on #223
@junegunn is there any easy way to have `Ctrl+K` not for "up" action but for `kill-line` (emacs function name) ?

[2015-05-19 23:50] junegunn commented on #223
@pigmej Not currently. It will be possible when #238 is sorted out. By the way, do you frequently need `ctrl-k`? For me `ctrl-u` and `ctrl-w` almost always suffice.

[2015-05-20 01:49] tarruda commented on #207
That backtrace only has one frame, even when the stack is smashed there usually is some ?? entries. Can you show the full backtrace?

[2015-05-20 07:09] pigmej commented on #236
@junegunn I can reproduce, `ls **<tab>` then `Ctrl + C` and it will be in column 0 with `ls **` in prompt.

[2015-05-20 07:17] junegunn commented on #236
@pigmej @tiziano88 Aha, I was unable to reproduce it because I was on tmux, but I can see the prompt garbled when not on tmux. Actually the cursor is not moved to column 0, it just looks like so because `zle redisplay` is skipped. I'll fix it.

[2015-05-20 07:19] #236 closed

[2015-05-20 07:19] junegunn commented on #236
Should be fixed now. Thanks.

[2015-05-20 17:12] adambiggs commented on #207
Sorry, this is actually my first experience generating a backtrace like this...

I followed the [instructions](https://github.com/neovim/neovim/wiki/Development-tips#core-dumps) posted by @justinmk, but I had to modify the command slightly to get it to work... Maybe I screwed something up in the process.

I found that after running `ulimit -c unlimited`, the core dump showed up at `/cores/core.123

[2015-05-21 00:11] nunoh commented on #201
Also have the same issue, which when opening and closing multiple panes regularly ends up to be kind of a bummer. @wookayin Did you end up finding any workaround? Thanks.

[2015-05-21 15:17] junegunn commented on #238
Hey, `--bind` option is added to 0.9.12.

[code]

[2015-05-21 15:17] #238 closed

[2015-05-21 15:19] junegunn commented on #223
@pigmej `--bind` option is now added to 0.9.12. You can use it like follows:

[code]

[2015-05-21 15:20] junegunn commented on #101
[code]

:)

[2015-05-21 15:21] acornejo commented on #238
Thank you!!!! I'll try it out, this is exactly what I needed.

Btw, I was just thinking about the bindings the other day, and realized a solution to having ctrl-d delete AND pagedown, would be to introduce modes as in vim. Thoughts?

[2015-05-21 15:22] junegunn commented on #174
It's now possible in 0.9.12 with `--bind` option:

[code]

[2015-05-21 15:24] junegunn commented on #238
Nope, sorry :) Feels like an overkill for such a short-lived process.

[2015-05-21 15:42] bradparks commented on #174
cool... thanks... definitely a nice feature.... much appreciated!

[2015-05-21 15:51] pigmej commented on #223
@junegunn cool,

About your last question, it seems that I use `crtl+k` more than I even expected ;-) Usually for delete to the end of the line.

[2015-05-23 13:26] Tarmean commented on #206
For me it is prety easy to see when the issue hapoens because it stays in terminal mode after switching to the new buffer. Leaving terminal mode with esc-esc breaks the new buffer with the same reason as justinforce. Reloading with e! % or going back with g- works.

Any other button closes the new buffer for me. Happens with empty or loaded buffers seamingly at random.

[2015-05-26 06:29] aliev opened #240 "fzf, Ag and current buffer"
I found the following piece of code for integration fzf and Ag:

function! s:escape(path)
  return substitute(a:path, ' ', '\\ ', 'g')
endfunction

function! AgHandler(line)
  let parts = split(a:line, ':')
  let [fn, lno] = parts[0 : 1]
  execute 'e '. s:escape(fn)
  execute lno
  normal! zz
endfunction

command! -nargs=+ Ag call fzf#run({
  \ 'source': 'ag "<args>"',
  \ 'sink': function('AgHand

[2015-05-26 08:41] junegunn commented on #240
You might want to check out the recent version of the code here:
https://github.com/junegunn/fzf/wiki/Examples-(vim)#narrow-ag-results-within-vim

Check out the FZFLines example in the wiki page and see if you can adapt it to your needs.
https://github.com/junegunn/fzf/wiki/Examples-(vim)#search-lines-in-all-open-vim-buffers

[2015-05-26 08:46] aliev commented on #240
@junegunn thank you very much! one more question: how to implement search for tags, without the tags file as in ctlpbuftag? for example: https://coderwall.com/p/x39gbg/use-ctrlp-s-ctrlpbuftag-to-quickly-jump-to-methods

[2015-05-26 09:37] junegunn commented on #240
Looks like ctrlp.vim generates tags itself though I haven't checked the source. I just updated FZFTags example in the wiki page to generate tags file with simple `ctags -R` command. Maybe it's too simple, but you get the idea, you can use it as the starting point.

https://github.com/junegunn/fzf/wiki/Examples-(vim)#jump-to-tags

[2015-05-26 10:43] robinro opened #241 "CTRL-R broken in zsh"
For me ctrl-r stops working after a couple of uses. This sounds a lot like the bug mentioned after the patch in #203

[2015-05-26 17:29] #240 closed

[2015-05-27 14:25] rahmatawaludin opened #243 "Is it possible to setup fzf for easy jump to function def?"
I'm new vim user. I've read the wiki. But, still can't understand how to setup fzf.

What I want to accomplish is similiar to Sublime goto symbol. Refer to http://www.sublimetext.com on slide 5.

Basically, when I start typing filename and use `@` it show function name and I could quickly jump there.

If I just type `@`, it will show all method in current file (or list of heading if its markdown f

[2015-05-28 02:50] justinmk commented on #243
Generate tags using ctags. Then pipe the tags to fzf. I'm not sure of the details, though.

[2015-05-28 03:21] rahmatawaludin commented on #243
I have created ctags using https://github.com/xolox/vim-easytags. It created a `tags` file on save.

Then I use FZFTags like this example https://github.com/junegunn/fzf/wiki/Examples-(vim)#jump-to-tags

But, It won't showing what I expect.

[2015-05-28 03:31] junegunn commented on #243
ctrlp-funky [uses regular expressions for every file type](https://github.com/tacahiroy/ctrlp-funky/tree/master/autoload/ctrlp/funky/ft) it supports, I don't think I quite like the approach. I'd rather use ctags as @justinmk suggested. But for listing functions and stuff in a single file (that's what ctrlp-funky does, right?), performance hardly matters, so fzf won't give you much benefit.

You me

[2015-05-28 03:47] rahmatawaludin commented on #243
Thanks for your response @junegunn :)
Yes, i just use your sample `:FZFTags` as is. I'm new to Vim.
The https://github.com/xolox/vim-easytags plugin allow me to create tag on read and save a file. Here is my conf:
[code]

But, FZFTags seem to show all my tag. Not limit it to current active file

What I want to have is like this:
![image](https://cloud.githubusercontent.com/assets/1274849/7852372/b

[2015-05-28 03:51] rahmatawaludin commented on #243
Anyway, here is what I try to achieve.

Goto symbol in current file:
![screen shot 2015-05-28 at 10 49 29 am](https://cloud.githubusercontent.com/assets/1274849/7852408/5811439a-0527-11e5-93ec-ae3ba9d79c27.png)

Goto symbol on fuzzy search to other file:
![screen shot 2015-05-28 at 10 48 53 am](https://cloud.githubusercontent.com/assets/1274849/7852420/6de02466-0527-11e5-9f6d-2bd997a59cce.png)

[2015-05-28 03:53] junegunn commented on #243
What does `:echo tagfiles()` say?

[2015-05-28 03:56] rahmatawaludin commented on #243
[code]

The current folder is `app/controller/admin`.

[2015-05-28 03:59] junegunn commented on #243
Then changing `join(tagfiles())` to `tagfiles[0]` will do, I think.

[2015-05-28 04:12] rahmatawaludin commented on #243
Yes it show all tags in current file (I modify it to `tagfiles()[0]`). Its shown like this:
![screen shot 2015-05-28 at 11 09 24 am](https://cloud.githubusercontent.com/assets/1274849/7852594/2a45034a-052a-11e5-9230-941b2aa836f3.png)

Is possible to limit it only show functions? I've used https://github.com/majutsushi/tagbar, it could do this:
![screen shot 2015-05-28 at 11 08 50 am](https://cloud

[2015-05-28 04:14] rahmatawaludin commented on #243
Here is another of its feature:
![screen shot 2015-05-28 at 11 13 54 am](https://cloud.githubusercontent.com/assets/1274849/7852624/af6b6ece-052a-11e5-8e3a-e3a8e4110584.png)

[2015-05-28 04:18] junegunn commented on #243
I don't think it's related to vimscript skill. You should figure out the format of the tags file and preprocess the content using grep or sed.

[2015-05-28 04:20] rahmatawaludin commented on #243
ah.. ok. I'll learn some format of tags file..

[2015-05-28 04:29] justinmk commented on #243
The code for tagbar would be a good place to look for clues...

[2015-05-28 04:30] rahmatawaludin commented on #243
I'm reading this https://github.com/majutsushi/tagbar/blob/master/syntax/tagbar.vim

[code]

Still learning the pattern..

[2015-05-28 14:21] babygau commented on #206
Guys,

This seems to be fixed properly. Now I can open every file with "Enter" key. Could anyone confirm this so that we could close this issue? Because I updated both `neovim` and `fzf` so I don't know which one fix the bug.

Here is my `fzf` config that allows me to use <C-P> to activate `fzf` window and open new buffer window with `Enter` key
[code]

[2015-05-28 15:41] shkm commented on #206
Happy to hear it! I went back to vim for the time-being, but FZF breaks zoom in it (as it opens a Tmux pane instead of a Neovim terminal). Will try tomorrow!

[2015-05-28 15:43] jason0x43 commented on #205
It seems to be fixed for me.

[2015-05-28 17:50] Tarmean commented on #206
Nope, definitely still happening when doing two searches in succession.

[2015-05-28 17:58] cartolari commented on #206
There are some open issues about Neovim terminal emulator integration with FZF. Today I have updated both Neovim and FZF and none of them appear to be happening anymore. I use neovim from the custom Ubuntu ppa.

[2015-05-28 19:00] justinforce commented on #206
Another data point: I updated Neovim and FZF to HEAD and I'm no longer experiencing this.

[code]

[2015-05-28 20:36] justinmk commented on #206
@Tarmean what were the precise steps you took to update neovim?

[2015-05-29 05:34] junegunn commented on #243
You can refer to http://ctags.sourceforge.net/FORMAT
And this should probably work:

[code]

I suggest that you take some time to learn the basics of unix commands. What you can do with fzf is extremely limited if you don't know how to compose tools.

[2015-05-29 05:34] #243 closed

[2015-05-29 07:13] edi9999 commented on #206
Same as @Tarmean for me, even with a pretty void `.nvimrc` :

[code]

To update neovim, I use the `add-apt-repository ppa:neovim-ppa/unstable -y`

and an `apt-get update`

Here is the result of

[code]

I also have the latest versions of fzf, which I pulled and then run the `./install` script.

[2015-05-29 09:19] edi9999 commented on #243
Here's what I use to filter for tags in the current file only:

[code]

[2015-05-29 12:56] babygau commented on #206
Well, I'm not sure about Linux bcoz OSX running OK with me

[2015-05-29 13:34] shkm commented on #206
Latest versions of Neovim and FZF, still having issues.

[2015-05-29 14:22] raine opened #244 "Unable to use fzf as global alias"
I'm trying to get this work: `alias -g F="| fzf"`

`ps aux F`

However, `fzf` won't start until I hit `^C`.

`alias -g P="| peco"` works fine.

[code]

Any ideas?

[2015-05-29 15:34] edi9999 commented on #244
I'm pretty sure that i have F aliased to | fzf on my machine.

Can you list your existing aliases ?

[2015-05-30 03:27] junegunn commented on #244
Works for me too.

[2015-05-30 05:15] junegunn opened #245 "[WIP] Color customization"
![red](https://cloud.githubusercontent.com/assets/700826/7895679/1ad280ba-06d6-11e5-80a8-1fef0857e8e3.png)

[code]

[2015-05-30 09:13] raine commented on #244
I removed stuff from my zshrc until it started working and it seems the reason is

[code]

For some reason it breaks any global alias to `"| fzf"`.

[2015-05-30 09:27] junegunn commented on #244
Okay, then it's not an issue of fzf. I'll close this.

[2015-05-30 09:27] #244 closed

[2015-05-30 18:20] Tarmean commented on #206
I used apt-get to install it from neovim-ppa/unstable and removed/reinstalled it once since for another reason. So reasonably certain it doesn't have to do with the install itself. This is on linux mint btw.

[2015-05-31 15:18] babygau commented on #206
So it's weird then,
@Tarmean, could you try to upgrade python neovim too? by running `pip install --upgrade neovim`.
I don't know what's wrong but mine is working OK.

[2015-05-31 16:35] justinmk commented on #206
Latest master could possibly help with this issue.

[2015-06-01 18:38] estk opened #246 "Using brew's fzf with vim"
Hey @junegunn, I'm a big fan of fzf, I was wondering how you recommend using brew's fzf with vim-plug?

[2015-06-01 18:49] langolf opened #247 "Preview file"
Like in Sublime Text. This will be super useful. Especially in (neo)vim.

[2015-06-02 00:58] junegunn commented on #246
I don't recommend using homebrew if your primary use of fzf is on vim. You can tell vim-plug to load homebrew-installed fzf like follows,

[code]

but then vim-plug does not know how to install/update fzf.

So I'd just let vim-plug install/update/load fzf as follows

[code]

And you can change the directory with `dir` option.

[code]

[2015-06-02 00:58] #246 closed

[2015-06-02 01:12] junegunn commented on #247
I don't use sublime so I'm not sure what exactly you mean, maybe something like this?

https://github.com/dyng/ctrlsf.vim

Anyway, I believe the feature you suggested is beyond the scope of this repository which only provides basic building blocks for more complex features. fzf is a dumb unix filter and vim plugin for it is just a simple wrapper.

[2015-06-02 01:12] #247 closed

[2015-06-02 16:11] junegunn opened #248 "Reader terminates prematurely on long line (> 64k)"
[code]

`bufio.Scanner` has a hard-coded buffer size of 64kb (http://golang.org/pkg/bufio/)

[2015-06-02 17:15] #248 closed

[2015-06-02 17:15] #245 closed

[2015-06-03 10:42] edi9999 commented on #247
I think what OP means is to be able to see the file that is `highlighted` by fzf on the vim window when typing (eg you don't have to press enter).

Is they a way to access to the currently highlighted line inside fzf before fzf quits ?

[2015-06-03 10:45] edi9999 commented on #245
Great :-)

[2015-06-03 10:48] junegunn commented on #247
Let's not forget that fzf is just a unix filter, an extended version of `grep`. fzf do not know at all if the input is a list of files or processes or urls or whatever.

Having said that, it might be possible with Neovim once it becomes stable. Partly related: https://github.com/junegunn/fzf/issues/216

[2015-06-03 15:03] padde opened #249 "Move through recent search terms in Vim"
I became quite used to nagivating through my recent search terms when I used CtrlP + Ack/Ag. Is this possible in FZF as well?

Thanks!

[2015-06-03 23:46] junegunn commented on #249
No, fzf does not externally store the history of search terms. I'd never really thought about the idea, but I can see how it can be useful in some cases. I'll consider adding the feature in the future releases. We'll have to rebind the keys to make it available then since ctrl-p and ctrl-n are already synonyms to down and up.

[code]

[2015-06-04 11:05] padde commented on #249
Ah I see, so fzf is really lightweight on the Vim side and handles input etc itself? As a heavy Vim user it would be perfect to be able to remap keys via Vim configuration, but I guess that is not an option, right?

[2015-06-04 11:22] junegunn commented on #249
Maybe I'm stating the obvious again but you know fzf is not a native vim plugin but a command-line program that happens to ship with a simple vim wrapper. You can set up `$FZF_DEFAULT_OPTS` in your vimrc, but I don't see why one would do that, when one can put it in bashrc or zshrc and consistently use it on your shell and on vim running on it.

[2015-06-04 11:23] padde commented on #249
I see, thanks for your explanation!

[2015-06-04 16:58] dnhgff commented on #247
i think this use case does not belong in fzf, but it would be lovely if there were a standardized way to integrate previewing into fzf. for instance i am currently writing https://github.com/dnhgff/vache, which would be even more amazing if it could preview the documentation you are selecting as you filter

maybe fzf can write information about current selection to a standard file and external pro

[2015-06-04 17:48] junegunn commented on #247
@dnhgff

Even if it does, a vim plugin cannot take advantage of it as vim is inherently single-threaded. But as I mentioned above, I believe it's theoretically possible for Neovim to monitor the content of its `:terminal` buffer where fzf runs and trigger some action accordingly, like opening the file on a split for preview or resizing the terminal buffer.

[2015-06-04 19:15] Tranquility commented on #216
@tarruda could you take a look at this?

[2015-06-05 14:42] taromero opened #250 "Open fzf prompt as soon as user starts typing"
Maybe add a configuration variable to allow this, which I don't know if it's even possible. This should not be the default.

I think it would be nice to open fzf prompt as soon as I start typing, without having to press ctrl-r. Related SO post (by me): http://stackoverflow.com/questions/30666458/how-to-run-a-function-on-first-keystroke-in-bash-zsh.

[2015-06-05 15:50] junegunn commented on #250
I don't know if it's possible nor have I tried to do it. By the way, in your SO post;

It's not an accurate description of fzf-tmux.

[2015-06-05 16:21] taromero commented on #250
@junegunn thanks, I've just made a s/fzf-tmux/fzf.

[2015-06-05 20:53] leoi11 opened #251 "Unable to navigate through previous search strings"
Is there a feature to navigate through the strings I have just used for my previous search?

[2015-06-06 01:52] junegunn commented on #251
Nope. Please see #249.

[2015-06-06 01:52] #251 closed

[2015-06-07 16:39] bruno- opened #253 "Selectively disable `Ctrl-R` shell keybinding"
Hi,
thanks for this great tool. I find the shell `ctrl-t` (recursive dir search) invaluable when working on a new project.

However, I'm finding the history search feature hard to get used to so I'd like to selectively disable that one for now. To do that I opened `/usr/local/Cellar/fzf/HEAD/shell/key-bindings.bash` and commented out the line that starts with `bind '"\C-r"`.

Is there a cleaner wa

[2015-06-07 17:04] junegunn commented on #253
How about rebinding the key to the original function after the script is sourced?

[code]

By the way, it's interesting to hear that you find ctrl-t more useful than ctrl-r, to me it's the opposite.

[2015-06-08 04:57] m42e opened #254 "Is there a way to change the style of the fuzzy completion?"
Hi,

is there something like a style file where I can change all the fuzzy completions to look the same.
I've setup a few shortcut commands, using fzf-tmux with a few options and I would like the fuzzy completion to behave just like them.

How can I do this?

Thanks a lot.

[2015-06-08 05:03] junegunn commented on #254
`$FZF_DEFAULT_OPTS`. Does this answer your question?

[2015-06-08 05:16] m42e commented on #254
theoretically yes, but somehow is seems not to work as expected.

I've set the following options:
[code]

but it still behaves as before

[2015-06-08 05:20] m42e commented on #254
May this issue be related to the setup I use?
Cygwin with tmux on Windows.

[2015-06-08 05:41] junegunn commented on #254
- This is a basic question, but did you `export` the variable?
- You may need to restart tmux session after adding the variable to your .bashrc or .zshrc
- Unfortunately, `-h 20%` is an option to `fzf-tmux` script and you can't put it in `$FZF_DEFAULT_OPTS`
    - I would simply define a custom shell function or alias which appends it to `fzf-tmux` like so
[code]
- (Alas, you're on Windows. Then yo

[2015-06-08 07:14] m42e commented on #254
Ok, thanks a lot. It worked after restarting everything. Thanks for your patience and quick response.

[2015-06-08 07:14] #254 closed

[2015-06-08 14:29] #121 closed

[2015-06-08 14:39] #239 closed

[2015-06-08 15:49] lompy opened #257 "Select all matches action."
It would be great to have an action to select all currently matching results. That action could be bound to some key. And in case you need to select all the results you can just hit one key instead of tabbing one by one the entire list.

Didn't find this feature in docs. Did I miss something?

[2015-06-09 14:15] junegunn opened #258 "0.10.0"
- [x] Changelog
- [x] Update man page
    - ~~`--null`~~
    - `--history`
    - `--history-max`
    - `--cycle`
    - More actions for `--bind`
        - `ignore`, `select-all`, `deselect-all`, `toggle-all`, `previous-history`, `next-history`, `execute`
    - Key synonyms for `--bind` and `--toggle-sort` (not `--expect`)
- [x] Release binaries
- [x] Update install script
- [x] Homebrew (optional)

[2015-06-09 14:45] #257 closed

[2015-06-09 14:49] junegunn commented on #257
Thanks for the suggestion. Added three actions for `--bind`: select-all / deselect-all / toggle-all, which are unbound by default. So now you can write something like this:
[code]
(or you could put it in your `$FZF_DEFAULT_OPTS`)
I'll update the man page as well when I release 0.9.14.

[2015-06-09 15:41] lompy commented on #257
Wow, superfast response! Thanks for great work. Finally can get rid of Unite.vim for `global find -> narrow results -> replace in narrowed` with awesome `Ag` function example.

[2015-06-09 16:12] timfeirg opened #259 "fzf ctrl-r doesn't collect history commands inside tmux (ubuntu)"
when in tmux, `fzf-history-widget` doesn't seems to be collecting history commands from .zsh_history, and I can't reproduce on my mac book.

# to reproduce

[code]

here's inside tmux, or byobu:
(deleted the screenshot)

and here's outside tmux:
![cursor_and__mosh__timfeirg_10-6-10-13___](https://cloud.githubusercontent.com/assets/4319104/8063159/dbfae156-0f05-11e5-9097-5262089d54d7.gif)

[2015-06-09 16:14] junegunn commented on #259
CTRL-R simply reads the output of `fc -l 1`. What do you get when you run the command?

[2015-06-09 16:17] timfeirg commented on #259
thanks for the quick response, @junegunn I get the same output from terminal and within tumx

[2015-06-09 16:21] junegunn commented on #259
That's weird. Can you compare the following two commands?
- `fc -l 1 | fzf --tac`
- `fc -l 1 | fzf-tmux --tac`

[2015-06-09 16:26] timfeirg commented on #259
# within tmux

`fc -l 1 | fzf --tac` list all candidates, everything, 1969 results in total
`fc -l 1 | fzf-tmux --tac` has only 1861 results

# outside tmux

two commands has the exact same output

[2015-06-09 16:30] junegunn commented on #259
Thanks. `fzf-tmux` was designed to work just the same as `fzf` when not on tmux, so you don't need to check it w/o tmux.

So for some reason, `fzf-tmux` is not receiving the entire input stream. Do you experience similar problem with other commands as well? Such as `seq 1000000 | fzf-tmux`

[2015-06-09 16:33] junegunn commented on #259
Just to be sure. Do you have enough free space on your root partition?

[2015-06-09 16:37] timfeirg commented on #259
`seq 1000000 | fzf-tmux` shows 1000000/1000000 results, no truncation.
I think I have enough free space, `df -h` says the following:
[code]

[2015-06-09 16:44] junegunn commented on #259
Hmm, so then it's not about the size of the input and I'm clueless.
When you repeat `fc -l 1 | fzf-tmux --tac`, does it always show the exact 1861 results? Is there anything suspicious with the item 1862 or 1863?